<div class="headings_pink_edit">Update Your Information</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "user_setting" }) do |f| %>
  <%#= devise_error_messages! %>
  
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
  
  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
    <div id="facebook_connect_container">
    	<%= render :partial => "/devise/registrations/facebook_info" %> <br />
    </div> 
  <% unless session[:signed_in_via_facebook] %>
    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>
    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>
  <% end %>
  <% unless (session[:signed_in_via_facebook] || session[:disconnect_facebook]) %>
    <div>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, :style => "margin-bottom: 20px;" %>
    </div>
  <% end %>
  
  <div>
    <% if params[:update_user_settings] && !resource.errors.empty? %>
      <div class="alert alert-error" style="width: 207px;"> <%= raw resource.errors.full_messages.first %>. </div>
    <% end %>
    <% if params[:update_user_settings] && flash[:update_account_notice] %>
      <div class="alert alert-success" style="width: 207px;"> <%= raw flash[:update_account_notice] %>. </div>
    <% end %>
    <input type="submit" value="Update" class="show_button_buy"/>
    <input type="hidden" name="update_user_settings" value="true" />
  </div>
<% end %>
		
