<div class="headings_pink_edit">Update your information</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id => "edit_profile" }) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
  
  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <br />
  <%= render :partial => "/devise/shared/stripe_card_form", :locals => {:submit_form => "edit_profile", :field_prefix => "user_", :f => f, :user => resource}%>
  <br />
  
  <% unless session[:signed_in_via_facebook] %>
    <div>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
    </div>
  <% end %>

  <div>
    <input type="button" value="Update" onclick="javascript:edit_profile_card_validate();" />
 </div>
<% end %>

<%= link_to "Back", :back %>
