<div class="container">
  <img id="bg" src="/images/signup_background.jpg" style="width: 1905px; height: 1562px; display: inline;">

  <div id="signup_container">
    <img id="signup_circle" src="/images/signup_circle_new.png" style="top: 338.5px; display: block;">
    <img id="fb_signup" src="/images/fb_signup.png">
  
    <div id="signup_form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <div class="signup_field"><%= f.label :email %></div>
      <%= f.email_field :email %>

      <div class="signup_field"><%= f.label :password %></div>
      <%= f.password_field :password %>

      <div class="signup_field"><%= f.label :password_confirmation %></div>
      <%= f.password_field :password_confirmation %>

      <div class="signup_field"><%= f.submit "Sign up" %></div>
    <% end %>
   </div>
</div>