<div id="login_container"  class="container" >
  <img id="login_circle" src="/images/login_rectangle.png">
    <% if show_cancel_link %>
     <a class="close-popup" onclick="hidePopup();" style="position:relative; top:30px; right:95px;" href="#" title="Cancel">Cancel</a>
  <% end %>
  <a href="<%= user_omniauth_authorize_path(:facebook)%>"><img id="fb_login" src="/images/fb_login.png"></a>
  <p class="login_or">
    <span>or</span>
  </p>
  <div id="login_form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource)) do |f| %>
      <div class="input-prepend">
        <span class="add-on">E-mail</span>
        <%= f.email_field :email, :class => "span2", :placeholder => "E-mail address", :id => "prependedInput" %>
      </div>
      <br/>
      <div class="input-prepend">
        <span class="add-on">Password</span>
        <%= f.password_field :password, :class => "span2", :id => "prependedInput"  %>
      </div>
      <%= f.submit "Sign in", :class => "login_button"  %>
    <% end %>
  </div>
  <a href="#" class="login_forgot">Forgot your password?</a>

  <div class="login-footer">
    <p class="signup-link">
      Don't have a login? <a rel="internal silent" href="/devise/shared/signup_form">Sign Up.</a>
    </p>
  </div>
  <div class="sub_footer">By signing up, you agree to our <a href="#">Terms of Service</a> and have read our <a href="#">Privacy Policy</a>.</div>
  
</div>
