<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= StripeGateway.payment_public_key %>');
  function <%= submit_form %>_card_validate() {
    var form = $("#<%= submit_form %>");
    form.find("#cardInfoValidate").hide();
    
    // do nothing if users don't enter Card information
    var has_changed = false;
    var field_names = ["name", "number", "cvc", "expired_month", "expired_year"];
    for(i = 0; i < field_names.length; i++) {
      var obj = form.find('#<%= field_prefix %>new_card_' + field_names[i]);

      if($(obj).attr('value') != $(obj).attr('edit-data')) {
        has_changed = true;
      }
    }

    if(!has_changed) {
      form.submit();
      return true;
    }

    // given a valid form, submit the payment details to stripe
    //$(form['submit-button']).attr("disabled", "disabled")
    Stripe.createToken({
      number: form.find('#<%= field_prefix %>new_card_number').val(),
      cvc: form.find('#<%= field_prefix %>new_card_cvc').val(),
      exp_month: form.find('#<%= field_prefix %>new_card_expired_month').val(),
      exp_year: form.find('#<%= field_prefix %>new_card_expired_year').val()
    }, function(status, response) {
      if (response.error) {
        form.find("#cardInfoValidate").show();
        // re-enable the submit button
        //$(form['submit-button']).removeAttr("disabled")

        // show the error
        form.find(".payment-errors").html(response.error.message);
      } else {
        // token contains id, last4, and card type
        form.find("#<%= field_prefix %>new_stripe_card_token").val(response['id']);
        form.find("#<%= field_prefix %>new_card_type").val(response['card']['type']);
        form.find("#<%= field_prefix %>new_card_last_four_number").val(response['card']['last4']);
        form.find("#<%= field_prefix %>new_card_number").val('');
        form.find("#<%= field_prefix %>new_card_cvc").val('');
        // insert the stripe token
        // and submit
        form.submit();
      }
    });
    return false;
  }
</script>

<div id="card_info_container" class="span12" style="margin-left: 0px; font-family:'myriad'; font-size:20px; background:url('/images/cc_template.png'); background-repeat:no-repeat; height:400px;
">
  <div class="headings_pink" style="position:relative; bottom:40px;">Provice Credit Card Information</div>
  <% if user.has_card_info? %>
    <div class="cc_blank_message">(leave blank if you don't want to change it)</div><br/>
  <% end %>
  <div class="cc_secure">100% SECURE</div>

  <%= f.hidden_field :card_name %>
  <%= f.hidden_field :card_last_four_number %>
  <%= f.hidden_field :card_expired_month %>
  <%= f.hidden_field :card_expired_year %>


    
    <div style="margin-left:50px">
    <span style="color:white; font-size:14px; font-family:'myriad'; position:relative; top:10px;">Card Number</span><br />  
    <%= f.text_field :new_card_number, :size => 20, :class => "card-number", "edit-data" => user.new_card_number, :placeholder =>"Card Number", :class => "cc_number_field" %><br />
  </div>

  <div style="margin-left:50px;">
     <span style="color:white; font-size:14px; font-family:'myriad';">Card Expiration</span><br />
    <%= f.select :new_card_expired_month, month_options, {:prompt => 'Month', :class => "card-expiry-year"}, "edit-data" => user.new_card_expired_month %>
    <%= f.select :new_card_expired_year, year_options, {:prompt => 'Year', :class => "card-expiry-year"}, "edit-data" => user.new_card_expired_year %>
  </div>
  <div style="margin-left:50px">
     <span style="color:white; font-size:14px; font-family:'myriad';">Name on card</span><br />
    <%= f.text_field :new_card_name, :size => 20, :class => "cc_name_field", "edit-data" => user.new_card_name %>
  </div>

  <div style="margin-left:590px; position:relative; bottom:75px;">
    <span style="color:#666; font-size:14px; font-family:'myriad-s';">Card CVC</span><br />
    <%= f.text_field :new_card_cvc, :size => 20, :class => "card-cvc", "edit-data" => "" %>
    <%= f.hidden_field :new_stripe_card_token %>
    <%= f.hidden_field :new_card_type %>
    <%= f.hidden_field :new_card_last_four_number %>
  </div>
  <div id="cardInfoValidate" style="display: none;">
    <div class="payment-errors alert alert-error" style="text-align: center; width: 575px;"></div>
  </div>
</div>

