<style type="text/css">
.content {
width: 100%;
height: 500px;
overflow: hidden;
position: relative;
z-index: 0;
top: 90px;
margin-top: -30px;
height: 75%;
}
.content .container {
width: 100%;
height: 10px;
position: relative;
top: 0;
padding:0;
height: 100%;
min-height: 500px;
background: black;
}
.content .image-container {
  position: absolute;
z-index: 80;
height: 100%;
width: 100%;
overflow: hidden;
}

.add-on {
  height: 27px;
  font-size:16px;
  font-family: "myriad-s";
  width: 135px;
  padding-top: 11px;
}
#prependedInput{
  height: 30px;
  width: 150px;
  font-family: "myriad";
}
.show_button_buy{
font-size: 25px;
width: 150px;
height: 50px;
margin-left: 80px;
margin-top: 40px;

}
.alert{
position: relative;
bottom:30px;
right:130px;
}
.footer {
width: 100%;
margin: 0 auto;
padding: 30px 0;
background-color: whiteSmoke;
text-align: center;
height: 180px;
overflow: hidden;
}
</style>
<div class="image-container">
  <img src="/images/redeem/bg.jpg" style="position: relative;
max-width: none;
margin-left: -955px;
left: 50%;">
<div id="reedem-box" style="position: absolute; background:white; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; padding-top:40px; padding-bottom:30px; width:370px;">
<div class="headings_pink_edit" style="text-align: center;">Redeem Free Honey</div>
<br />
<div style="position:relative; left:40px;">
<%= form_for(@redeem_code, :as => "user", :url => "/users/redeem") do |f| %>
  <div class="input-prepend" style="padding-bottom: 10px;">
    <span class="add-on">Code</span>
    <%= f.text_field :code, :class => "span2", :placeholder => "Your Redeem Code", :id => "prependedInput" %><br/>
  </div>
      
  <div class="input-prepend" style="padding-bottom: 10px;">
  <span class="add-on">E-mail</span>
    <%= f.email_field :email , :class => "span2", :placeholder => "E-mail address", :id => "prependedInput" %><br/>
  </div>
      
  <div class="input-prepend" style="padding-bottom: 10px;">
<span class="add-on">Password</span>
    <%= f.password_field :password, :class => "span2", :id => "prependedInput" %><br/>
  </div>
      
  <div class="input-prepend" style="padding-bottom: 10px;">
        <span class="add-on signup_add-on">Confirm Password</span>
        <%= f.password_field :password_confirmation, :class => "span2", :id => "prependedInput"  %>
      </div>

  <div>
    </div>

    <%= f.submit "Redeem", :class => "show_button_buy" %>
    <% unless @redeem_code.errors.full_messages.empty? %>
      <span class="alert alert-error">
        <%= @redeem_code.errors.full_messages.join(". ") %>
      </span>
    <% end %>
  </div>
<% end %>
</div>
</div>

<script>
$(function() {


redeem();
$(window).on('resize', function() {
  redeem();
});

function redeem() {
  $('#reedem-box').css({
    left: $(window).width() / 2 - $('#reedem-box').width() / 2,
    top: $(window).height() / 2 - $('#reedem-box').height() / 2 - $('.navbar-fixed-top').height()
  });
}

});

</script>