<style type="text/css">
body{
  background: whitesmoke;
}
.add-on {
height: 27px;
font-size:16px;
font-family: "myriad-s";
width: 135px;
padding-top: 11px;
}
#prependedInput{
height: 30px;
width: 150px;
font-family: "myriad";
}
.show_button_buy{
font-size: 25px;
width: 150px;
height: 50px;
margin-left: 80px;
margin-top: 40px; 
}

</style>
<div class="body" style="max-height:800px;" id='redeem_bg'>
  <div class="content" style="width:100%; max-height:800px; position: relative; z-index: 0; min-height:570px; background-repeat:no-repeat; background-position: 0px 0px; top: 41px; left: 0px;">
    <div style="position:absolute; width:100%; overflow:hidden;">
    <img src="images/redeem/bg.jpg">
    </div>

    <div class="container min_height_containner">
    <div id="reedem-box" style="background-image:url(/images/white_bg.png); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding-top:40px; padding-bottom:30px; width:370px; margin: -20px auto;position:relative;">
      <div class="headings_pink_edit" style="text-align: center;">Redeem Free Money</div>
      <div style="position:relative; left:35px;">
        <%= form_for(@redeem_code, :as => "user", :url => "/users/redeem") do |f| %>
          <div class="input-prepend" style="padding-bottom: 10px;">
            <span class="add-on">Code</span>
            <%= f.text_field :code, :class => "span2", :placeholder => "Your Redeem Code", :id => "prependedInput" %>
          </div>
              
          <div class="input-prepend" style="padding-bottom: 10px;">
          <span class="add-on">E-mail</span>
            <%= f.email_field :email , :class => "span2", :placeholder => "E-mail address", :id => "prependedInput" %>
          </div>
              
          <div class="input-prepend" style="padding-bottom: 10px;">
            <span class="add-on">Password</span>
            <%= f.password_field :password, :class => "span2", :id => "prependedInput" %>
          </div>
              
          <div class="input-prepend" style="padding-bottom: 10px;">
            <span class="add-on signup_add-on">Confirm Password</span>
            <%= f.password_field :password_confirmation, :class => "span2", :id => "prependedInput"  %>
          </div>
          
          <% unless @redeem_code.errors.full_messages.empty? %>
            <div class="alert alert-error" style="width: 287px;">
              <%= @redeem_code.errors.full_messages.join(". ") %>
            </div>
            <%= f.submit "Redeem", :class => "show_button_buy", :style => "margin-top: 0px;"  %>
          <% else %>
            <%= f.submit "Redeem", :class => "show_button_buy" %>
          <% end %>
          
      </div>
      <% end %>

    </div>
</div>
 <div style="relative;"><%= render :partial => "/layouts/footer.html" %></div>

<script type="text/javascript">
 sliderHeight();
$(window).on('resize', function() {
    sliderHeight();
  });

  function sliderHeight() {
    var slideHeight = parseInt($(window).height() - $('.navbar-fixed-top').height() - $('.navbar-fixed-top').height(), 10);
    if(slideHeight >= 700) {
        slideHeight = 700;
    }
    $('#redeem_bg').css({height: slideHeight});
  }

  </script>
