<div style="width:580px; margin:auto;">
	<div style="background:#F2F2F2; margin-top:30px; padding:20px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
		<div style="float:left;">
			<a href="https://www.swapidy.com" target="_blank"><img src="https://www.swapidy.com/images/email/swapidy_logo_email.png"></a>
		</div>
		<div style="float:right;">
			<a href="http://facebook.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/fb_email.png"></a>
			<a href="http://twitter.com/swapidy" target="_blank"><img src="https://www.swapidy.com/images/email/twitter_email.png"></a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<div style="font-family:'Trebuchet MS', sans-serif; color:#666; font-size:14px; line-height:17px; ">
			Hi <%= @user.name_in_email %>,<br/>
			<br/>
			<% if @shop_type == "sell"%>
				<br/>
				Thank you for selling your products on Swapidy! Your cash will be sent to you in the payment method you chose soon as we receive you product.<br> 
				<br>
				Please see attached for shipping label and order details.<br>
				<br>
				<b>Instructions for shipping</b><br/>
<br/>
1) Package the item listed above along with any cables, parts, manuals, etc. into a secure box. Use packing material to avoid damage (newspapers work great!).<br/>
<br/>
2) Affix the attached prepaid label to the package.<br/>
<br/>
3) Put your package into your mailbox if it fits, otherwise drop it off at any collection box or post office. No need to pay, we took care of it.<br/>
<br/>
If you have any questions, please email support@swapidy.com. Make sure to mention your name and your email. We will answer your questions within 12 hours or less.<br/>

			<% elsif @shop_type == "buy"%>
				Your Swapidy order has been successfully placed! Your products will be shipping out soon.<br>
			        <br>
			        We'll email you a tracking number as soon as it ships. <br/>
			        <br>
				You ordered:
				<%sell_amount = 0 %>	
				<b><% @order.order_products.for_buy.each_with_index do |order_product, index| %>
				  <% sell_amount += order_product.price %>
				    <%= index + 1%>)<%= order_product.product.title %>(<%= order_product.using_condition %>)		</b>	  <br/>
				    <br>
				If you have any questions, please email support@swapidy.com. Make sure to mention your name and your email. We will answer your questions within 12 hours or less.<br/>
				<br/>   
				<% end %>
				<br/>
				
				<b>Amount deducted: <%= sell_amount %></b><br/>
			<% else %>
				<br/>
				Thank you for swapping your products on Swapidy! We look forward to completing the transaction in the fastest way possible.<br>
				<br/>
				Your free shipping label and order details is attached to this email. Please ship your products within 48 hours.<br>
				<br/>
				<b>Instructions for shipping</b><br/>
<br/>
1) Package the item listed above along with any cables, parts, manuals, etc. into a secure box. Use packing material to avoid damage (newspapers work great!).<br/>
<br/>
2) Affix the attached prepaid label to the package.<br/>
<br/>
3) Put your package into your mailbox if it fits, otherwise drop it off at any collection box or post office. No need to pay, we took care of it.<br/>
<br/>
If you have any questions, please email support@swapidy.com. Make sure to mention your name and your email. We will answer your questions within 12 hours or less.<br/>
				<br/>
			<% end %>
			<br/>
			Cheerio,
			<br/>
			<br/>
			<a href="http://www.twitter.com/theswapdaddy" style="color:#666;"><strong>@TheSwapDaddy</strong></a>
			<br/>
			<a href="http://www.twitter.com/swapidy" style="color:#666;"><strong>@Swapidy</strong></a>
			<br/>
		</div>
	</div>
</div>
