
<div class="headings_pink">Forgot your password?</div><br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%#= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div style="display: inline-block;"><%= f.submit "Reset", :class => 'show_button_buy' %></div>
  <div style="display: inline-block;">
    <% unless resource.errors.empty? %>
      <div class="alert alert-error" style="width:245px; margin-left: 5px; padding-top: 4px;"> <%= raw resource.errors.full_messages.first %>. </div>
    <% end %>
  </div>
<% end %>
