
<div class="container">
<div class="headings_pink">Forgot your password?</div><br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div ><%= f.submit "Reset", :class => 'show_button_buy' %></div>
<% end %>
</div
