<% 
  if for_item == :orders
    orders = current_user.orders.to_buy
    page_title = "Your orders to buy"
  elsif for_item == :trade_ins
    orders = current_user.orders.to_sell
    page_title = "Your orders to sell"
  else
    orders = current_user.orders
    page_title = "Your orders created"
  end  
%>

<% if orders.empty? %>
  <label>You don't have any orders</label>
<% else %>
  <label><%= page_title %></label><br/>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>No.</th>
        <% if for_item == :all_trans %>
          <th>Sell/Buy</th>
        <% end %>
        <th>Product</th>
        <th>Price</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <% if for_item == :all_trans %>
            <td><%= order.is_trade_ins? ? "Sell" : "Buy" %></td>
          <% end %>
          <td><%= order.title %></td>
          <td><%= order.honey_price %> honey</td>
          <td><%= order.status_title %></td>
          <td><%= order.created_at.strftime("%H:%M %b %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
