<div class="product_price">
	<% if product.has_flawless_type? %>
	<% if product.for_buy %>
	<div class="price_item flawless_type <%= product.price_range_class(product.price_for_sell) %>">
		<%= product.flaw_less_name %>:
		<%= format_num(product.price_for_sell) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png">
	</div>
	<% else %>
	<div class="price_item flawless_type <%= product.price_range_class(product.price_for_sell) %>">
		<div class="price_title">
			<%= product.flaw_less_name %>:
		</div>
		<div class="price_value">
			<%= format_num(product.price_for_sell) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png">
		</div>
	</div>
	<% end %>
	<% end %>
	<% if product.has_good_type? %>
	<div class="price_item good_type <%= product.price_range_class(product.price_for_good_sell) %>">
	 <input type="checkbox" id="checkbox <%= product.id %"
		<div class="price_title">
			Good:
		</div>
		<div class="price_value">
			<%= format_num(product.price_for_good_sell) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png">
		</div>
	</div>
	<% end %>
	<% if product.has_poor_type? %>
	<div class="price_item poor_type <%= product.price_range_class(product.price_for_poor_sell) %>">
		<div class="price_title">
			Poor:
		</div>
		<div class="price_value">
			<%= format_num(product.price_for_poor_sell) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png">
		</div>
	</div>
	<% end %>
</div>
