<div class="item thumbnail product_filter_model_<%= product.product_model.id %> <%= product.gen_attribute_filter_ids %> <%= "for_buying" if product.for_buy %> <%= "for_selling" if product.for_sell %>">
  <div class="box">
    <div class="product_title" style="color:#fa3e6e; font-family:'myriad-s'; font-size:15px;" title="<%= product.title %>"><%= product.title %></div>
    <div class="product_image thumbnail"><img title="<%= product.title %>" src="<%= product.main_image_url(:thumb) %>"></div>
    <div>
      <div class="button_for_sell dropdown" id= "button_block">
        <a href="/confirm trade"  id="dLabel" class="btn btn-primary dropdown-toggle"title="Sell now: <%= product.title %>" data-toggle="dropdown">Sell</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    		<li>Flauless</li>
 		 </ul><br />
 		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    		<li>Good</li>
 		 </ul>
 		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    		<li>Poor</li>
 		 </ul>
 		 
        <a href="/products/<%= product.id %>?for=buy" class="btn btn-primary" title="Buy now: <%= product.title %>">Buy</a>
      </div>
    </div>
  </div>
</div>
<style>
	div #button_block{
		display: inline-block;
	}
	div #button_block a{
	width: 50px;
	}
	div #button_block a{
		display: inline-block
	}
</style>
<script>
	$('.dropdown-toggle').dropdown()
</script>

