<div class="item thumbnail product_filter_model_<%= product.product_model.id %> <%= product.using_condition_types %> <%= product.gen_attribute_filter_ids %> <%= "for_buying" if product.for_buy %> <%= "for_selling" if product.for_sell %>">
  <div class="box">
    <div class="product_title" style="color:#fa3e6e; font-family:'myriad-s'; font-size:15px;" title="<%= product.title %>"><%= product.title %></div>
    <div class="product_image thumbnail"><img title="<%= product.title %>" src="<%= product.main_image_url(:thumb) %>"></div>
    <div>
      <div class="product_price">
        <% if product.has_flawless_type? %>
          <div class="flawless_type <%= product.price_range_class(product.honey_price) %>">Flawless: <%= format_num(product.honey_price) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png"></div>
        <% end %>
        <% if product.has_good_type? %>
          <div class="good_type <%= product.price_range_class(product.price_for_good_type) %>">Good: <%= format_num(product.price_for_good_type) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png"> </div>
        <% end %>
        <% if product.has_poor_type? %>
          <div class="poor_type <%= product.price_range_class(product.price_for_poor_type) %>">Poor: <%= format_num(product.price_for_poor_type) %>&nbsp;<img class="home_honey_symbol" src="/images/honey_15px_blue.png"> </div>
        <% end %>
      </div>
      <div class="button_for_buy">
        <a href="/products/<%= product.id %>?for=buy" class="btn btn-danger" title="Buy now: <%= product.title %>">Buy</a>
      </div>
      <div class="button_for_sell">
        <a href="/products/<%= product.id %>?for=sell" class="btn btn-primary"title="Sell now: <%= product.title %>">Sell</a>
      </div>
    </div>
  </div>
</div>