
<% if cart_products_empty? %>
  <div id="product_items" style="height: 130px;">
    <div style="width: 100%; text-align: center; padding-top: 40px;"> <span class="headings_pink">Empty Shopping Cart</span></div>
    <a href="#" onclick="$('#shopping_cart').fadeOut('slow');" style="height: 20px; top: 70px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Close</a>
  </div>
<% else %>
  <div id="product_items" style="height: 130px;">
  	<a style="position: absolute; left: 0; bottom: 50%; background-color: #38B4DE; padding: 5px;">Sell</a>
  	<a style="position: absolute; right: 0; bottom: 50%; background-color: #fa3e6e; padding: 5px;">Buy</a>
  	<% if cart_products[:sell].count > 3 %>
	 	  <button class="prev" style="width: 30px;position: absolute;top:50px;left: 20px">&lt;&lt;</button>
	 	  <button class="next" style="width: 30px;position: absolute;top: 50px;left: 350px;">&gt;&gt;</button>
 	  <% end %>
      <div class= "sell_display" style=" height:120px; float: left; left:0px; width: 500px; margin: 5px 0 5px 100px;" >
       	<ul style="position: none;">
        <% cart_products[:sell].each do |order_product|%>
       		<%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product} %>
        <% end %>
        </ul>
      </div>
    <% if cart_products[:buy].count > 3 %>
      <button class="prev_buy" style="width: 30px;top: 50px;right: 410px;position: absolute">&lt;&lt;</button>
 	 	  <button class="next_buy"style="width: 30px;top: 50px;right: 80px;position: absolute">&gt;&gt;</button>
    <% end %>
      <div class="buy_display" style=" float:right; height: 130px; margin: 5px 110px 5px 0px;" >
       <ul style="position: none;">
      	<% cart_products[:buy].each do |order_product| %>
        	<%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product}%>
      	<% end %>
       </ul>
      </div>
	</div>
	<div style="position:absolute; left:50%; margin-left:-125px; min-width: 250px; text-align: center; top: 30px; font-size: 25px;">
	  <% if cart_amount > 0 %>
	  	<% if current_user && current_user.balance_amount && current_user.balance_amount > 0 %>
	    	You pay: $<%= format_num(cart_amount) %> - $<%= format_num(current_user.balance_amount) %>
	  	<% else %>
	  	  You pay: $<%= format_num(cart_amount) %>
	  	<% end %>
	  <% else %>
	  	You get: $<%= format_num(-cart_amount) %>
	  <% end %>
	</div>
	<a id="done_button" href="javascript:showScreenToBuy();" style="height: 20px; top: 60px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Done</a>
	<a id="checkout_button" href="javascript:gotoCheckout();" style="display: none; height: 20px; top: 60px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Checkout</a>
<% end %>
