
<% if cart_products_empty? %>
  <div id="product_items" style="height: 130px; min-width:600px;">
    <div style="width: 100%; text-align: center; padding-top: 40px;"> <span class="headings_pink">Empty Shopping Cart</span></div>
    <a href="#" onclick="$('#shopping_cart').fadeOut('slow');" style="height: 20px; top: 70px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Close</a>
  </div>
<% else %>
  <div id="product_items" style="height: 130px;">
  	<a style="position: absolute; left: 0; bottom: 50%; background-color: #38B4DE; padding: 5px;">You are selling</a>
  	<a style="position: absolute; right: 0; bottom: 50%; background-color: #fa3e6e; padding: 5px;">You are buying</a>
  	<% if cart_products[:sell].count > 3 %>
	 	  <button class="prev" style="width: 30px;position: absolute;top:50px;left: 110px">&lt;&lt;</button>
	 	  <button class="next" style="width: 30px;position: absolute;top: 50px;left: 480px;">&gt;&gt;</button>
 	  <% end %>
 	  <div style="position:relative; float:left; left: 25%; height: 130px; margin-left: -35px;">
	 	  <% if cart_products[:sell].count <= 1 %>
      	<div class = "sell_display step_sell_1">
      <% elsif cart_products[:sell].count == 2 %>
      	<div class = "sell_display step_sell_2">
      <% else %>
      	<div class = "sell_display step_sell_3">
      <% end %>
       	<ul style="position: none;">
        <% cart_products[:sell].each do |order_product|%>
       		<%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product} %>
        <% end %>
        </ul>
      </div>
	  </div>
    <% if cart_products[:buy].count > 3 %>
      <button class="prev_buy" style="width: 30px;top: 50px;right: 480px;position: absolute">&lt;&lt;</button>
 	    <button class="next_buy"style="width: 30px;top: 50px;right: 120px;position: absolute">&gt;&gt;</button>
	  <% end %>
    <div style="position:relative; float:left; left: 75%; height: 130px; margin-left: -15px;">
	 	  <% if cart_products[:buy].count <= 1 %>
        <div class="buy_display step_buy_1">
      <% elsif cart_products[:buy].count == 2 %>
        <div class="buy_display step_buy_2">
      <% else %>
        <div class="buy_display step_buy_3">
      <% end %>
	      <ul style="position: none;">
	      	<% cart_products[:buy].each do |order_product| %>
	        	<%= render :partial => "/home/cart_product_thumb", :locals => {:order_product => order_product}%>
	      	<% end %>
	      </ul>
	    </div>
	  </div>
	</div>
	<div style="position:absolute; left:50%; margin-left:-125px; min-width: 250px; text-align: center; top: 30px; font-size: 25px;">
	  <% if cart_amount > 0 %>
	  	<% if current_user && current_user.balance_amount && current_user.balance_amount > 0 %>
	    	You pay: $<%= format_num(cart_amount) %> - $<%= format_num(current_user.balance_amount) %>
	  	<% else %>
	  	<span class="show_result" style="display: none;">  You pay: $<%= format_num(cart_amount) %> </span>
	  	<% end %>
	  <% else %>
	  	<span class="show_result" style="display: none;">You get: $<%= format_num(-cart_amount) %></span>
	  <% end %>
	</div>
	<a id="done_button" href="javascript:showScreenToBuy();" style="height: 20px; top: 60px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_sell">Swap for...</a>
	<a id="checkout_button" href="javascript:gotoCheckout();" style="display: none; height: 20px; top: 60px; position: absolute; left: 50%; margin-left: -83px;" class="btn show_button_buy">Checkout</a>
	<a id="done_button_for_buy"  href="javascript:showScreenToTrade();" style="height: 20px; top: 60px; position: absolute;display:none; left: 50%; margin-left: -83px;" class="btn show_button_buy">Done</a>
<% end %>
<style>
	.step_sell_1{
		left: 25% !important;
		width: 190px!important;
		margin: 5px 0px 5px -50px;
		height:120px; 
		float: left;
		
	}
		.step_sell_2{
		left: 25% !important;
		width: 190px !important;
		margin: 5px 0px 5px -50px;
		height:120px; 
		float: left;
	}
		.step_sell_3{
		left: 25% !important;
		width: 285px !important;
		margin: 5px 0px 5px -130px;
		height:120px; 
		float: left;
	}
	.step_buy_1 {
		width: 95px !important; 
		left: 75% !important; 
		margin: 5px 0px 5px -200px;
		height:120px;
		top: 0px;
	}
	.step_buy_2 {
		width: 190px !important; 
		left: 75% !important; 
		margin: 5px 0px 5px -280px;
		height:120px;
		top: 0px;
	}
	.step_buy_3 {
		width: 285px !important; 
		left: 75% !important; 
		margin: 5px 0px 5px -260px;
		height:120px;
		top: 0px;
	}
</style>
