
<% cache("homepage_available_categories", :expires_in => 1.hour) do %>
  <div id="product_type" style="display:none;">
    <div class="headings_pink">
      <span id="sell_message" style="display:none;">What do you want to sell today?</span>
      <span id="buy_message" style="display:none;">What do you want to buy today?</span>
    </div>
    <div id="slider-code" class="span12">
      <a class="left carousel-control buttons prev">&lsaquo;</a>
      <div class="viewport">
        <ul class="overview" style="width: 1560px;">
          <% Category.all.each_with_index do |category, index| %>
            <li id="cat_<%= category.id %>" class="item category span3" >
              <img class="cat_item" alt="<%= category.title %>" style="height: 200px; width: auto;" src="<%= category.main_image_url(:medium) %>">
              <div style="display:block;">
                <%= category.title %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <a class="left carousel-control buttons next">&rsaquo;</a>
    </div>
  </div>
<% end %>

<% Category.all.each do |category| %>
    <div id="container_cat_<%= category.id %>" class="product_search_container" style="display:none; padding-top: 20px;">
      <div style="display: block;padding:20px 0 30px;">

        <ul id="product_models" class="nav nav-pills" style="position: relative;">
          <li class="product_model active" id="filter_model_all"><a>All models</a></li>
          <% category.product_models.each do |product_model| %>
            <li class="product_model <%= "model_for_buying" if product_model.for_buy? %> <%= "model_for_selling" if product_model.for_sell? %>" id="filter_model_<%= product_model.id %>"><a><%= product_model.title %></a></li>
          <% end %>
        </ul>
        <% cache("homepage_category_#{category.id}_filter_attr") do %>
          <div id="search_container" class="attribute_filter">
            <% category.category_attributes.each do |attr|%>
              <div class="option-set" data-group="cat_attr_<%= attr.id %>">
                <div style="float:left;">
                <h3 class="s_category" style="color:#38B4DE;font-size:18px;"><%= attr.title %></h3>
                <% attr.attributes_in_models.each do |attr_value_with_models| %>
                  <div style="display:block;" class="attr_filter <%= "attr_filter_model_all_for_buying" if attr_value_with_models[3] > 0 %> <%= "attr_filter_model_all_for_selling" if attr_value_with_models[4] > 0 %> <%= attr_value_with_models[2].map{|model_attribute| model_attribute.filter_content}.join(" ") %>" >
                    <div style="display: inline-block; line-height: 30px;" >
                      <input type="checkbox" id="checkbox-<%= attr.id %>-<%= attr_value_with_models[0] %>" class="regular-checkbox big-checkbox"
                          attr-filter-option='<%= attr_value_with_models[0] %>' />
                      <label for="checkbox-<%= attr.id %>-<%= attr_value_with_models[0] %>"></label>
                    </div>
                    <div style="display:inline-block; margin-top: -5px; font-size: 14px; padding-right: 15px;"><%= attr_value_with_models[1] %></div>
                  </div>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div style="display: block;">
        <% cache("homepage_product_container_category_#{category.id}", :expires_in => 1.hour) do %>
          <div class="product_container">
            <div id="products" class="isotope" style="">
              <% category.products.each do |product| %>
                <% cache("homepage_product_thumb_#{product.id}") do %>
                  <%= render :partial => "/home/product_thumbnail.html", :locals => {:product => product} %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<% end %>

<script language="JavaScript">

  $('#slider-code').tinycarousel({display: 2});

  sliderHeight();

  $(window).on('resize', function() {
    sliderHeight();
  });

  function sliderHeight() {
    var slideHeight = parseInt($(window).height() - $('.navbar-fixed-top').height() - $('.navbar-fixed-top').height(), 10);
    if(slideHeight >= 700) {
        slideHeight = 700;
    }
    $('#s3slider').css({height: slideHeight});
  }
  
  var for_what = "for_selling";
  
  function get_filter_options() {
    var filters = {};
    filters["for_what"] = ['.' + for_what];
    
    $("#container_" + current_category_id + ' .attribute_filter input').each(function(index) {
      var $src = $(this);
      if(!$src.parent().parent().hasClass("hidden_filter") && $src.is(':checked')){
        var group = $src.parents(".option-set").attr("data-group");
        if ( !filters[ group ] ) {
          filters[ group ] = [];
        }
        filters[ group ].push('.' + $src.attr("attr-filter-option"));
      }
    });
    
    filters['product_mode'] = []
    if(current_model_id == "filter_model_all"){
      filters['product_mode'].push('.item');
    }else{
      filters['product_mode'].push('.product_' + current_model_id );
    }

    var i = 0;
    var comboFilters = [];

    for ( var prop in filters ) {
      //message.push( filters[ prop ].join(' ') );
      var filterGroup = filters[ prop ];
      // skip to next filter group if it doesn't have any values
      if ( !filterGroup.length ) {
        continue;
      }
      if ( i === 0 ) {
        // copy to new array
        comboFilters = filterGroup;
      } else {
        var filterSelectors = [];
        // copy to fresh array
        var groupCombo = comboFilters; // [ A, B ]
        // merge filter Groups
        for (var k=0, len3 = filterGroup.length; k < len3; k++) {
          for (var j=0, len2 = groupCombo.length; j < len2; j++) {
            filterSelectors.push( groupCombo[j] + filterGroup[k] ); // [ 1, 2 ]
          }
          
        }
        // apply filter selectors to combo filters for next group
        comboFilters = filterSelectors
      }
      i++
    }
    //alert(comboFilters);
    return comboFilters;
  }
     
  $('#buttons a').click(function() {
    if($(this).attr('id') == "button_sell"){
      showScreenToSell();
    }else{
      showScreenToBuy();
    }
    $('div#product_type').fadeIn(600);
    $.scrollTo($('div#product_type'), 400);
    showIsoTope();
  });
  
  var current_category_id = "";
  var current_model_id = "filter_model_all";

  $('#product_type .cat_item').live('click', function() {
     
     if(current_category_id == $(this).parent().attr("id")){
       return;
     }
     
     if(current_category_id != "") {
       $("#container_" + current_category_id).hide();
       $("#" + current_category_id).removeClass("select").addClass("blur");
       current_model_id = "filter_model_all";
     }

     current_category_id = $(this).parent().attr("id");
     $("#" + current_category_id).addClass("select");

     $("#container_" + current_category_id).fadeIn(600);
     $.scrollTo($("#container_" + current_category_id), 300);
     showIsoTope();
  });
  
  $('.product_search_container .product_model').live('click', function() {
     $("#container_" + current_category_id + " .attr_filter").addClass("hidden_filter");
     $("#container_" + current_category_id + " .product_model").removeClass("active");
     
     current_model_id = $(this).attr("id");
     $("#container_" + current_category_id + " .attr_" + current_model_id + "_" + for_what).removeClass("hidden_filter");
     $("#container_" + current_category_id + " #" + current_model_id).addClass("active");
     showIsoTope();
  });

  $('.product_search_container input').live('change', function() {
     showIsoTope();
  });
  
  function showIsoTope(){
    $("#container_" + current_category_id + ' .product_container').fadeIn(600);
    comboFilters = get_filter_options();
    $("#container_" + current_category_id + ' #products').isotope({ filter: comboFilters.join(', ') });
  }
  
  $('#product_type .viewport .category').live("mouseenter", function(){
    $src = $(this);
    $src.removeClass("blur").addClass("active");
    $('#product_type .viewport .category').not(".select").not($src).removeClass("active").addClass("blur");
  });
  
  $('#product_type .viewport .category').live("mouseleave", function(){
    $(this).removeClass("active");
    if(!$(this).hasClass("select")) {
      $(this).addClass("blur");
    }
  });
  
  $('#slider-code').live('mouseleave', function() {
    if(current_category_id == "") {
      $('#product_type .viewport .category').removeClass('active').removeClass('blur');
    }else{
      if(!$("#" + current_category_id).hasClass("select")) {
        $("#" + current_category_id).addClass("select");
      }
      if(!$("#" + current_category_id).hasClass("blur")) {
        $("#" + current_category_id).removeClass("blur");
      }
    }
  });
  
  function showScreenToBuy() {
    $("#sell_message").hide();
    $("#buy_message").show();
    $('li.product_model').not('#filter_model_all').hide();
    $('li.model_for_buying').show();
    for_what = "for_buying";
    $(".thumbnail .box .button_for_buy").show();
    $(".thumbnail .box .button_for_sell").hide();
    $(".product_search_container .nav-pills").each(function(index) {
      $(this).addClass("models_for_buy").removeClass("models_for_sell");
    });
    $(".all_using_condition_filter").removeClass("option-set").hide();
    $(".attr_filter_model_all_for_selling").not(".attr_filter_model_all_for_buying").addClass("hidden_filter");
    $(".attr_filter_model_all_for_buying").removeClass("hidden_filter")
  }
  function showScreenToSell() {
    for_what = "for_selling";
    $("#sell_message").show();
    $("#buy_message").hide();
    $('li.product_model').not('#filter_model_all').hide();
    $('li.model_for_selling').show();
    $(".thumbnail .box .button_for_buy").hide();
    $(".thumbnail .box .button_for_sell").show();
    $(".product_search_container .nav-pills").each(function(index) {
      $(this).addClass("models_for_sell").removeClass("models_for_buy");
    });
    $(".all_using_condition_filter").addClass("option-set").show();
    $(".attr_filter_model_all_for_buying").not(".attr_filter_model_all_for_selling").addClass("hidden_filter");
    $(".attr_filter_model_all_for_selling").removeClass("hidden_filter")
  }
  
  function centerIsotypeImages(){
    $('#products .item').each(function(){
      var $this = jQuery(this);
      if($this.find('img').get(0) === undefined){ return; }
      var cont_ratio = $this.width() / $this.height();
      var img_ratio = $this.find('img').get(0).width / $this.find('img').get(0).height;

      if(cont_ratio <= img_ratio){
        $this.find('img').css({ 'width' : 'auto', 'height' : '100%', 'top' : 0 }).css({ 'left' : ~(($this.find('img').width()-$this.width())/2)+1 });
        $this.find('img').stop(true, true).fadeIn(200);
      }else{
        $this.find('img').css({ 'width' : '100%', 'height' : 'auto', 'left' : 0 }).css({ 'top' : ~(($this.find('img').height()-$this.height())/2)+1 });
        $this.find('img').stop(true, true).fadeIn(200);
      }
    });
  }

</script>