- if ShoppingCart.cart_products_empty?
	%div Empty Swapping Cart
- else	
	%div
		.span3.order_slider_sell{:style => "margin-left: 0px;"}
			%div
				- if ShoppingCart.cart_products[:sell].count > 1
					.row{:style=>"margin-left:0px; position: relative;z-index: 99;"}
						%button.ctrl_button.prev.prev_product_button_buy{:style => "float:left;"} <
						%button.ctrl_button.next.next_product_button_buy{:style => "float:right;"} >
				- style = ShoppingCart.cart_products[:sell].count > 1 ? " margin-top: -65px;" : " margin-top: -20px;"				
				.order_sell_display{:style => "width: 200px; overflow: hidden; position: absolute; z-index:2;#{style}"}
					%ul#mycarousel.jcarousel-skin
						- ShoppingCart.cart_products[:sell].each do |order_product|
							%li{:style => "height:350px;width: 200px;margin-left: 10px; position: relative;"}
								.image-container
									%img{:src => Product.find(order_product.product_id).main_image_url(:large), :style => " max-width: 160px; max-height: 320px; margin-left: 20px;"}/
								%br/
								%p{:style => "font-family:'myriad'; color:#666; font-size:20px;width:100%;text-align:center; margin-left:10px;"}
									= order_product.title
								%br
								%p{ :style =>"font-size:20px; width: 100%; text-align: center; position: absolute; bottom: 0px;"}= number_to_currency(order_product.price)
								%br
		.span2{:style=>"padding-top: 30px;"}
			%div{:style => "margin-left:20px; height:70px;"}
				%img.circ_arrow{:src => "/images/circular_arrow.png", :style => "height:70px; position:relative; top:25px;"}/
			%div{:style => "height:70px;"}
				%img.r_circ_arrow{:src => "/images/r_circular_arrow.png", :style => "height:70px; position:relative; top:60px;"}/
		.span3.order_slider_buy{:style => "margin-left: 0px; float: right;"}
			%div
				- if ShoppingCart.cart_products[:buy].count > 1
					.row{:style=>"margin-left:0px;margin-left: 0;position: relative;z-index: 99;"}
						%button.ctrl_button.prev_buy.prev_product_button_buy{:style => "float:left;"} <
						%button.ctrl_button.next_buy.next_product_button_buy{:style => "float:right;"} >
				- style = ShoppingCart.cart_products[:buy].count > 1 ? "margin-top: -65px;" : " margin-top: -20px;"
				.order_buy_display{:style => "width: 200px; overflow: hidden; z-index: 2; position: absolute; #{style}"}
					%ul#mycarousel.jcarousel-skin
						- ShoppingCart.cart_products[:buy].each do |order_product|
							%li{:style => "height: 350px;width: 200px; margin-left: 20px; position: relative;"}
								.image-container
									%img{:src => Product.find(order_product.product_id).main_image_url(:large), :style => " max-width: 160px; max-height: 320px;margin-left: 10px;"}/
								%br/
								%p{:style => "font-family:'myriad'; color:#666; font-size:20px;width:100%;text-align:center; margin-left:-10px;"}
									= order_product.title
								%br
								%p{ :style =>"font-size:20px; width: 100%; text-align: center; position: absolute; bottom: 0px;"}= number_to_currency(order_product.price)
								/

:css		
	button.ctrl_button{
		background: none repeat scroll 0 0 #FA3E6E;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
		color: white;
		font-family: "myriad";
		font-size: 20px;
		height: 40px;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, 0.698);
		transition: all 0.3s ease-out 0s;
		width: 150px;
		margin-left: 0px;
	}
	button.prev_product_button_buy{
		float: left;
		width: 30px;
	}
	button.next_product_button_buy{
		float: right;
		width: 30px;
	}