
<div id="popup-dialog_email_form" style="display:none; width:0px; padding: 0px; position: fixed; top: 60px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background-color: white; border-radius: 10px; padding: 30px 20px; width:590px; margin-left:160px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form">
        <div class='headings_pink_edit'>Update your email</div>
        <form accept-charset='UTF-8' action='/orders/change_email' class='edit_user nonConfirmForm' id='change_email_form' method='post'>
          <%= render :partial => "/orders/change_email_form", :locals => {:user => current_user, :form_id => "popup_change_email"} %>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="popup-dialog_paypal_email_form" style="display:none; width:0px; padding: 0px; position: fixed; top: 60px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background-color: white; border-radius: 10px; padding: 30px 20px; width:590px; margin-left:160px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form">
        <div class='headings_pink_edit'>Change your paypal email</div>
        <form accept-charset='UTF-8' action='/orders/change_paypal_email' class='edit_user nonConfirmForm' id='change_paypal_email_form' method='post'>
          <%= render :partial => "/orders/change_paypal_email_form", :locals => {:user => current_user, :form_id => "popup_change_paypal_email"} %>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="popup-dialog_certified_name_form" style="display:none; width:0px; padding: 0px; position: fixed; top: 60px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background-color: white; border-radius: 10px; padding: 30px 20px; width:590px; margin-left:160px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form">
        <div class='headings_pink_edit'>Change your certified name</div>
        <form accept-charset='UTF-8' action='/orders/change_certified_name' class='edit_user nonConfirmForm' id='change_certified_name_form' method='post'>
          <%= render :partial => "/orders/change_certified_name_form", :locals => {:user => current_user, :form_id => "popup_change_certified_name_form"} %>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="popup-dialog_shipping_form" style="display:none; height:320px; padding: 0px; position: fixed; top: 60px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background-color: white; border-radius: 10px; height:340px; padding: 30px 20px; width:540px; margin-left:160px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form">
        <form accept-charset="UTF-8" action="/orders/change_shipping_info" class="new_order nonConfirmForm" id="popup_new_order" method="post" style="padding-left: 15px;">
          <%= render :partial => "/orders/shipping_form", :locals => {:order => @order, :submit_title => "Update"} %>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="popup-dialog_candidate_address_form" style="display:none; height:320px; padding: 0px; position: fixed; top: 60px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background-color: white; border-radius: 10px; height:340px; padding: 30px 20px; width:540px; margin-left:160px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form">
        
      </div>
    </div>
  </div>
</div>


<div id="popup-dialog_add_money" style="display:none; width:0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background:url('/images/popup-bg.png'); background-repeat:repeat; border-radius: 10px; padding: 40px; width:690px; margin-left:160px;" >
      <a class="close-popup" style="position:relative; left:10px;" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <div class="render_form" style="margin-right: -20px; margin-left: -5px;">
      	<%= render :partial => "/orders/edit_card_form", :locals => {:card_info => current_user} %>
      </div>
    </div>
  </div>
</div>


<script>
  $(".select_candidate_address").live("click", function() {
    $("#popup_new_order #order_shipping_address").attr("value", $(this).attr("data-address"));
    $("#popup_new_order #order_shipping_optional_address").attr("value", $(this).attr("data-optional_address"));
    $("#popup_new_order #order_shipping_city").attr("value", $(this).attr("data-city"));
    $("#popup_new_order #order_shipping_state").attr("value", $(this).attr("data-state"));
    $("#popup_new_order #order_shipping_zip_code").attr("value", $(this).attr("data-zip_code"));
    $("#popup_new_order #order_shipping_zip_code_add_on").attr("value", $(this).attr("data-zip_code_add_on"));
    $("#popup_new_order #order_is_candidate_address").attr("value", true);
    $("#shipping_address_form .alert").hide();
    showPopup("popup-dialog_shipping_form");
  });
  
  function continue_with_address(){
    $("#popup_new_order #order_is_candidate_address").attr("value", true);
    showPopup("popup-dialog_shipping_form");
    $("#popup_new_order").submit();
  }

  $("#popup_new_order input").live("change", function() {
    $("#popup_new_order #order_is_candidate_address").attr("value", false);
    $("#popup_new_order .alert").hide();
  });

  $("#terms_of_service_checkbox").live("change", function() {
    if($(this).is(':checked')){
      $("#submit_button").prop('disabled', false);
    }else{
      $("#submit_button").prop('disabled', true);
    }
  });

  $("#popup-dialog_email_form #change_email_form").submit(function(){
    $.ajax({
      type : 'POST',
      url : $(this).attr("action"),
      data : $(this).serialize(),
      dataType : 'script',
      success: function(data) {}
    });
    return false;
  });
  
  $("#popup-dialog_paypal_email_form #change_paypal_email_form").submit(function(){
    $.ajax({
      type : 'POST',
      url : $(this).attr("action"),
      data : $(this).serialize(),
      dataType : 'script',
      success: function(data) {}
    });
    return false;
  });
  
  $("#popup-dialog_certified_name_form #change_certified_name_form").submit(function(){
    $.ajax({
      type : 'POST',
      url : $(this).attr("action"),
      data : $(this).serialize(),
      dataType : 'script',
      success: function(data) {}
    });
    return false;
  });


  $("#popup_new_order").submit(function() {
    $.ajax({
      type : 'POST',
      url : $(this).attr("action"),
      data : $(this).serialize(),
      dataType : 'script',
      success: function(data) {}
    });
    return false;
  });

	$("#popup-dialog_add_money #card_edit_form").submit(function(){
    $.ajax({
      type : 'POST',
      url : $(this).attr("action"),
      data : $(this).serialize(),
      dataType : 'script',
      success: function(data) {}
    });
    return false;
  });
  
	function refresh_add_money_form() {
		showPopup('popup-dialog_add_money')
  }
</script>
