<%= form_for(@order, :as => 'order', :url => "/orders/shipping_info", :html => {:id => "new_order"}) do |f| %>
  <%= f.hidden_field :shipping_first_name %>
  <%= f.hidden_field :shipping_last_name %>
  <%= f.hidden_field :shipping_address %>
  <%= f.hidden_field :shipping_optional_address %>
  <%= f.hidden_field :shipping_city %>
  <%= f.hidden_field :shipping_state %>
  <%= f.hidden_field :shipping_zip_code %>
  <%= f.hidden_field :shipping_country %>
 <br />
 <br />
 <br />
 <br />
  <div class="payment_product_info"><br/>
    <label style="color:black; padding-top: 10px;">Current Balance:</label>
    <span style="color:black; font-family:'myriad'"><%= number_to_currency(current_user.balance_amount) %> </span>
  </div>
  <div class="payment_product_info">
  	<br/>
  	<% if ShoppingCart.cart_amount >= 0 %>
  		<%= number_to_currency(current_user.balance_amount) %> - <%= number_to_currency(ShoppingCart.cart_amount) %> = <%= number_to_currency(current_user.balance_amount - ShoppingCart.cart_amount) %>
	  	<br />
			<br />	
		  <label style="color:black; font-family:'myriad';" >Total due today:</label>
	  	<span style="color:black; font-family:'myriad'; font-size:20px;">	
		  	<% if current_user.balance_amount - ShoppingCart.cart_amount > 0 %>
		  		$0  
				<% else %>
					<%= number_to_currency(ShoppingCart.cart_amount-current_user.balance_amount)%>
				<% end %>
	  	</span>
		<% else %>
			<%= number_to_currency(current_user.balance_amount) %> + <%= number_to_currency(-ShoppingCart.cart_amount) %> = <%= number_to_currency(current_user.balance_amount - ShoppingCart.cart_amount) %>
	 		<br />
			<br />
		  <label style="color:black; font-family:'myriad';">Total due today:</label>
		  <span style="color:black; font-family:'myriad'; font-size:20px;">	
        $0
		  </span>  
	  <% end %>
	  <br/>
<!--	  
	  <br/>
	  <label style="color:black; font-family:'myriad';">Payment options:</label><br/>
  	<input type="radio" name="order[payment_option]" value="direct" checked="checked"/>Direct &nbsp;&nbsp;&nbsp;
  	<input type="radio" name="order[payment_option]" value="pre_authorize" disabled="disabled"/>Pre-authorize
	  <br/>
-->	  
	</div>	
  <input name="commit" class="product_button_buy" type="submit" value="Continue" style="position:relative; bottom:30px; right:70px;"/>
<% end %>
