
<%= form_for(@order, :as => 'order', :url => "/orders/shipping_info", :html => {:id => "new_order"}) do |f| %>
  <%= f.hidden_field :shipping_first_name %>
  <%= f.hidden_field :shipping_last_name %>
  <%= f.hidden_field :shipping_address %>
  <%= f.hidden_field :shipping_optional_address %>
  <%= f.hidden_field :shipping_city %>
  <%= f.hidden_field :shipping_state %>
  <%= f.hidden_field :shipping_zip_code %>
  <%= f.hidden_field :shipping_country %>
 
 <% if session[:shop_type] != "sell"%>  		
  <div class="payment_product_info"><br/>
    <p class="payment-description">
    	Current Balance:
    	<%= number_to_currency(current_user.balance_amount) %> 
    </p>
  </div>
  <% end %>
  <div class="payment_info">
  	<% 
  		remaining_amount = current_user.balance_amount - ShoppingCart.cart_amount 
  		amount = remaining_amount < 0 ? remaining_amount*-1 : 0
  	%>
  		
  	<% if session[:shop_type] == "sell"%>  		
			<br />	
		  <p class="payment-description" style="margin-top:100px;     text-align: center;
">
		  	You get:
		  	<%= number_to_currency((ShoppingCart.sell_cart_amount))%>				
	  	</p>
	  <% elsif session[:shop_type] == "buy"%>
	  	<p class="payment-description" style="margin-top:100px;     text-align: center;
">
				Total due today: 			
  			<%= number_to_currency( amount ) %>
  		</p>	<br/><br/>

  		<% remaining_amount = remaining_amount < 0 ? 0 : remaining_amount %>
			<p class="payment-description" style="    text-align: center;
">
				Remaining balance:  		
  			<%= number_to_currency( remaining_amount ) %>
  		</p>
		
  	<% else %>  		
			<p class="payment-description" style="margin-top:100px;     text-align: center;
">
				Total due today: 			
  			<%= number_to_currency( amount ) %>
  		</p>
  		<br/>
  		<br/>

  		<% remaining_amount = remaining_amount < 0 ? 0 : remaining_amount %>
			<p class="payment-description" style="text-align: center;
">
				Remaining balance:
  			<%= number_to_currency( remaining_amount ) %> 
  		</p>
  	<% end %>
	</div>		
  <input name="commit" class="product_button_buy" type="submit" value="Continue" style=""/>
<% end %>

<style type="text/css">
	p.payment-description{
		font-size: 20px;		
		color:#666; 
		font-family:'myriad';
		width: 100%;
	}
	input.product_button_buy{
		margin-left: 90px;	
	}
</style>