<style type="text/css">
.label{
  font-family: 'myriad';
  font-size: 14px;
  width: 215px;
  color: #fff;
  text-align: center;
  background: #38B4de;
  border-radius: 10px 10px 0px 0px;
  padding:5px 0px 0px 5px;
}
</style>
<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden' />

<div id='shipping_address_form' class='address_form_content'>
  <div class="field_col_1">  
    <div>
      <div class="label" for='shipping_first_name'>First name</div><br/>
      <input id="order_shipping_first_name" name="order[shipping_first_name]" size="30" type="text" value="<%= order.shipping_first_name %>">
    </div>

    <div>
      <div class="label" for='shipping_last_name'>Last name</div><br/>
      <input id="order_shipping_last_name" name="order[shipping_last_name]" size="30" type="text" value="<%= order.shipping_last_name %>">
    </div>

    <div>
      <div class="label" for='shipping_address'>Address Line 1</div><br/>
      <input id="order_shipping_address" name="order[shipping_address]" size="30" type="text" value="<%= order.shipping_address %>">
    </div>

    <div>
      <div class='label optional' for='shipping_street_name2'>Address Line 2 (optional)</div><br/>
      <input id="order_shipping_optional_address" name="order[shipping_optional_address]" size="30" type="text" value="<%= order.shipping_optional_address %>">
    </div>
  </div>
  <div class="field_col_2">
    <div>
      <div class="label" for='shipping_city'>City</div><br/>
      <input id="order_shipping_city" name="order[shipping_city]" size="30" type="text" value="<%= order.shipping_city %>">
    </div>

    <div style='display: block;'>
      <div class="label" for='shipping_state'>State</div><br/>
      <select id="order_shipping_state" name="order[shipping_state]">
        <% us_subregions.each do |option| %>
          <option value='<%= option[1] %>' <%= "selected" if order.shipping_state && order.shipping_state == option[1] %>><%= option[0] %></option>
        <% end %>
      </select>
    </div>
    <div>
      <div class="label" for='shipping_zipcode'>Zip Code</div><br/>
      <input id="order_shipping_zip_code" name="order[shipping_zip_code]" size="30" type="text" value="<%= order.shipping_zip_code %>">
      <input id="order_shipping_zip_code_add_on" name="order[shipping_zip_code_add_on]" type="hidden" value="<%= order.shipping_zip_code_add_on %>">
      <input id="order_is_candidate_address" name="order[is_candidate_address]" type="hidden" value="<%= order.is_candidate_address %>">
    </div>
    <input name='commit' class='order_button_buy' type='submit' value='<%= submit_title %>' />
  </div>
  <% if !order.errors.empty? || @error_message %>
    <div class="alert alert-error" style="width: 492px;"><%= order.errors.full_messages.first %></div>
  <% elsif @success_message %>
    <div class="alert alert-success" style="width: 492px;"><%= @success_message %></div>
  <% end %>
  
  <div class="shipping_footnote"><span>*</span>This info will be used to generate a free shipping label to send your products between you and us.</div>
</div>  

