<style type="text/css">
  body{
    background: whitesmoke;
    line-height: 1.5;
  }

</style>
<div class="content " style="position: absolute; width:100%; min-height:550px; height: 700px; background-repeat:no-repeat; background-position: 0px 0px; top: 60px; left: 0px; background-image:url(/images/checkout/bg-4.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

<div class="container">
  <div class="headings_pink confirm_head_info">Confirm Your Details</div>
  <div class="confirm_image_container"><img id="confirm_image" src="<%= @product.main_image_url(:large) %>"></div>
  <div class="confirm_container">
    <p class="confirm_subheading">Just confirm your transaction information and you're set!</p>
    <%= form_for(@order, :as => 'order', :url => "/orders/create", :html => {:id => "new_order"}) do |f| %>
      <%= f.hidden_field :order_type %>
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :using_condition %>
      <%= f.hidden_field :honey_price %>
      <%= f.hidden_field :token_key %>
    
      <% unless @order.errors.empty? %>
        <%= raw @order.errors.full_messages.join(".<br/>") %>
        <br/>
      <% end %>
  
      <br/>
      <div>
        <div class="confirm_info_head">You are buying: <%= @order.title %></div><br />
        <div id="email_label_info" style="position:relative; bottom:90px;">
          <%= render :partial => "email_label", :locals => {:user => current_user} %>
        </div>
        <br/>
        <div id="shipping_label_info">
          <%= render :partial => "shipping_label", :locals => {:order => @order} %>
        </div>

        <div class="confirm_payment_container">
          <div class="headings_pink" style="font-size:20px; position:relative; bottom:310px;">Payment Information</div>
          <br />
          <div style="position:relative; bottom:320px;">
            <div>
              <span>Current Balance:</span>
              <%= format_num(current_user.honey_balance) %> Honey
            </div>
            <div>
              <span>Product Price:</span>
              <%= format_num(@product.price_for_buy) %> Honey
            </div>      
          </div>
          <br/>
    
          <% has_agreement_before = current_user.has_same_order?(@order.order_type) %>
          <div style="position:relative; bottom:330px;">
            <label class="confirm_info_head"><div class="headings_pink" style="font-size:20px; position:relative; top:80px;">Terms of Service</div></label>
            <p>
              <input id="terms_of_service_checkbox" type="checkbox" <% if has_agreement_before %>checked="checked"<% end %> /> 
              <span>By checking this box, you agree to our <a class="order_link" href="/terms">terms of service</a></span>
            </p>
          </div>
          <br/>
          <input name="commit" onclick="showPageLoading();" id="submit_button" class="confirm_button_buy" style="margin-top:20px;" type="submit" <% unless has_agreement_before %> disabled="disabled" <% end %> value="Continue" />
  
        <% end %>
      </div>
      <%= render :partial => "order_confirm_popups" %>
    </div>
  </div>
</div>