<style type="text/css">

  body{
    background: whitesmoke;
    line-height: 1.5;
  }
  .content{
    background: white;
  }
</style>
<div class="content" style="height:550px;" >

<div class="container" style="">
  <div class="headings_pink" style="margin-top:-45px;">Confirm Your Details</div>
  <div class="confirm_image_container" style="margin-top: 49px;">
    <div style ="margin-top:100px;">
  	 <%= render :partial => "/orders/order_product_images" %>
    </div>
  </div>

  <div class="confirm_container" style="bottom: 235px;">
    <p class="confirm_subheading">Just confirm your transaction information and you're set!</p>
    <%= form_for(@order, :as => 'order', :url => "/orders/create", :html => {:id => "new_order"}) do |f| %>
    
      <% unless @order.errors.empty? %>
        <%= raw @order.errors.full_messages.join(".<br/>") %>
        <br/>
      <% end %>
  
      <br/>
      <div>
       <br />
        <div id="email_label_info" style="position:relative; bottom:60px;">
          <%= render :partial => "email_label", :locals => {:user => current_user} %>
        </div>
        <br/>
        <div id="shipping_label_info">
          <%= render :partial => "shipping_label", :locals => {:order => @order} %>
        </div>

        <div class="confirm_payment_container" style="padding-top: 20px;">
          <div class="headings_pink" style="font-size:20px; position:relative; bottom:270px;">Payment Information</div>
          <br />
          <div style="position:relative; bottom:290px;">
            <div>
              <span>Current Balance:</span>
              $<%= format_num(current_user.balance_amount) %>
            </div>
            <div>
            <% if cart_amount < 0 %>
						  <span>You will get:</span>
						  $<%= format_num(-cart_amount) %>
						<% else %>
						  <span>You will be charged:</span>
			        $<%= format_num(cart_amount) %> 
						<% end %>
			
            </div>
            <% if current_user.extra_money_for(cart_amount) > 0 && current_user.has_card_info? %>
            <div>
              
              You would be charged $<%= format_num(current_user.extra_money_for(cart_amount)) %><br/>
              <input type="button" value="Change Credit Card" class="order_button_buy" style="font-size:15px; width: 150px;height: 30px;"  onclick="refresh_add_money_form();" />
            </div>
            <% end %>
          </div>
          
          <% if current_user.extra_money_for(cart_amount) > 0 && !current_user.has_card_info? %>
            <div style="position:relative; bottom:330px;">
              Your balance is not enough.
              You would be charged $<%= format_num(current_user.extra_money_for(cart_amount)) %>
              <input type="button" value="Add Credit Card" class="order_button_buy" style="margin-left: 125px; margin-top: 20px;"  onclick="refresh_add_money_form();" />
            </div>
          <% else %>
	          <% has_agreement_before = !current_user.last_order.nil? %>
	          <div style="position:relative; bottom:300px;">
	            <label class="confirm_info_head"><div class="headings_pink" style="font-size:20px; position:relative; top:100px;">Terms of Service</div></label>
	            <p><br/>
	              <input id="terms_of_service_checkbox" type="checkbox" style="position:relative;
                bottom:5px;"<% if has_agreement_before %>checked="checked"<% end %> />
	              <span>By checking this box, you agree to our <a class="order_link" href="/terms">terms of service</a></span>
	            </p>
	          </div>
	          <br/>
	          <input name="commit" onclick="showPageLoading();" id="submit_button" class="confirm_button_buy" style="margin-top:60px;" type="submit" <% unless has_agreement_before %> disabled="disabled" <% end %> value="Continue" />
 					<% end %> 
        <% end %>
      </div>
      <%= render :partial => "order_confirm_popups" %>
    </div>
  </div>
</div>
<script>
	$(function() {
  	order_sliders();
  });

	function order_sliders(){
	$('.order_sell_display').jCarouselLite({
      btnNext: ".next",
      btnPrev: ".prev",
      visible: 1,
      speed: 500
    });
    $('.order_buy_display').jCarouselLite({
      btnNext: ".next_buy	",
      btnPrev: ".prev_buy",
      visible: 1,
      speed: 500
    });
	}
</script>
