
<h2>Confirm your details</h2>
<p>Please confirm the following information is correct.</p>

<%= form_for(@order, :as => 'order', :url => "/orders/create") do |f| %>
  <%= f.hidden_field :order_type %>
  <%= f.hidden_field :product_id %>
      
  <%= f.hidden_field :shipping_first_name %>
  <%= f.hidden_field :shipping_last_name %>
  <%= f.hidden_field :shipping_address %>
  <%= f.hidden_field :shipping_optional_address %>
  <%= f.hidden_field :shipping_city %>
  <%= f.hidden_field :shipping_state %>
  <%= f.hidden_field :shipping_zip_code %>
  <%= f.hidden_field :shipping_country %>
  <%= f.hidden_field :shipping_zip_code_add_on %>
  <%= f.hidden_field :is_candidate_address %>

  <br/>
  <div>
    <label>
      <strong>Contact Email</strong>
      <a href="#" onclick="javascript:open_in_new_tab('/users/edit');" class="btn btn-mini">Change</a>
    </label><br />
    <strong>All emails about your order will be sent here:</strong>
    <p><%= current_user.email %></p>
  </div>
  <br/>
  <div>
    <label>
      <strong>Payment Information</strong>
    </label>
    <div>
      <span>Current Balance:</span>
      <%= format_num(current_user.honey_balance) %> Honey
    </div>
    <div>
      <span>Product Price:</span>
      <%= format_num(@product.honey_price) %> Honey
    </div>
    <div>
      <i>Your balance would increase to <%= format_num(current_user.honey_balance + (@product.honey_price || 0)) %> Honey after selling.</i>
      <br />You could use the Honey money to buy something.
      <% if current_user.payment_ready? %>
        <a href="#" onclick="javascript:open_in_new_tab('/payments/new');" class="btn btn-success btn-mini">Get more Honey</a>
      <% else %>
        <br />Your payment has not verified. To get more Honey, please edit <a href="javascript:open_in_new_tab('/users/edit#card_info_container');">Card Information of your Profile</a>.  
      <% end %>
    </div>
  </div>
  <br/>
  <div>
    <label>
      <strong>Shipping Details</strong>
      <a href="#" onclick="javascript:changeTo('/orders/shipping_info');" class="btn btn-mini">Change</a>
    </label>
    <p>
      <%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
      <%= @order.shipping_address %><br />
      <%= @order.shipping_optional_address %>
      <%= @order.shipping_city %><br />
      <%= @order.shipping_state %><br />
      <%= @order.shipping_zip_code %><br />
      <%= @order.shipping_zip_code_add_on %><br />
      <%= @order.shipping_country %><br />
    </p>
  </div>
  <div>
    <label><strong>Terms of service</strong></label>
    <p>
      <input id="terms_of_service_checkbox" type="checkbox" /> 
      <span>this box, you agree to our <a>terms of service</a> and confirm that 
        the item(s) you are selling have not been reported lost or stolen.</span>
    </p>
  </div>
  <br/>
  <div><%= f.submit "Continue", :disabled=> "disabled", :id => "submit_button" %></div>
<% end %>
<script>
  function changeTo(new_url) {
    $("#new_order").attr("action", new_url);
    $("#new_order").submit();
  }
  
  $("#terms_of_service_checkbox").live("change", function() {
    if($(this).is(':checked')){
      $("#submit_button").prop('disabled', false);
    }else{
      $("#submit_button").prop('disabled', true);
    }
  });
  
</script>


