<style type="text/css">
body{
  background: whitesmoke;
  line-height: 1.5;
}
label{
  color:#666;
  font-size: 20px;
}
</style>
<div id="progress_indicator" class="three_steps">
  <ul>
      <li class="current">Step 1</strong></li>
      <li>Step 2</li>
      <li>Step 3</li>
  </ul>
</div>
  <div class="email_info_fb">
  <a href="<%= user_omniauth_authorize_path(:facebook)%>"><img class="fb-connect" src="/images/fb_login.png"></a>
  <p class="email_info_or">or</p>
  </div>
    <hr/>

<div class="container">
<div class="email_info_container" style="float: left; width: 50%;">
  <div class="headings_pink cat_choose">Sign in</div><br/>
  <% @user = resource || User.new unless @user %>
  <%= form_for(@user || resource, :as => "user", :url => session_path(@user), :method => :post) do |f| %>
    <% if @signin_failure %>
<div class="alert alert-error" style="width:210px;">
  Invalid username and password.
</div>
    <% end %>
    <input type="hidden" name="login_to_order" value="1" />
    <input type="hidden" name="product_id" value="<%= @product.id %>" />
    <input type="hidden" name="token_key" value="<%= @order.token_key %>" />
    <input type="hidden" name="order_type" value="<%= @order.order_type %>" />
    <input type="hidden" name="using_condition" value="<%= @order.using_condition %>" />
    <input type="hidden" name="honey_price" value="<%= @order.honey_price %>" />
    
    <div><label for="user_email">Email</label><br />
    <input id="user_email" name="user[email]" size="30" type="email" value="" /></div>
  
    <div><label for="user_password">Password</label><br />
    <input id="user_password" name="user[password]" size="30" type="password" /></div>
  
    <div style="margin:0px; margin-top:20px;">
      <input name="commit" class="show_button_buy" style="width: 130px; height: 50px; padding: 8px 15px;" type="submit" value="Sign in" />
    </div>
  <% end %>
</div>

<div class="email_signup_container"style="float: right; width: 50%;">
  <div class="headings_pink cat_choose">Don't have an account? Sign up now!</div><br/>
  <p class="product_desc">We'll use this email address to send you shipping details and progress updates every step of the way.</p>
  <%= form_for(@user || resource, :as => "user", :url => registration_path(@user), :method => :post) do |f| %>
    <input type="hidden" name="login_to_order" value="1" />
    <input type="hidden" name="product_id" value="<%= @product.id %>" />
    <input type="hidden" name="token_key" value="<%= @order.token_key %>" />
    <input type="hidden" name="order_type" value="<%= @order.order_type %>" />
    <input type="hidden" name="using_condition" value="<%= @order.using_condition %>" />
    <input type="hidden" name="honey_price" value="<%= @order.honey_price %>" />

    <% if @user_for_register && !@user.errors.empty? %>
      <div style="color: red;">
        <%= raw @user.errors.full_messages.join(". ") %>
      </div>
    <% end %>
      
    <div><%= f.label :email %></div>
    <%= f.email_field :email %>
  
    <div><%= f.label :password %></div>
    <%= f.password_field :password %>
  
    <div><%= f.label :password_confirmation %></div>
    <%= f.password_field :password_confirmation %>
    <div>
      <input name="commit" class="show_button_sell" style="width: 130px; height: 50px; padding: 8px 15px;" type="submit" value="Sign up" />
    </div>
  <% end %>
</div>

</div>
 <%= render :partial => "/layouts/footer" %>
