<style type="text/css">
body{

}
.content{
 width: 100%;
  height:600px;
}
.container{
}
#checkout_container{
  display: none;
}
</style>



<div class="content" style="">

  <div id="progress_indicator" class="three_steps">
  <ul>
      <li class="current">Step 1</li>
      <li>Step 2</li>
      <li>Step 3</li>
  </ul>
</div>


<div class="container" style="">
<div class="email_info_container" style="float: left; width: 50%;" >
  <div class="headings_pink cat_choose">Sign in</div><br/>
  <% @user = resource || User.new unless @user %>
  <%= form_for(@user || resource, :as => "user", :url => session_path(@user), :method => :post) do |f| %>
    <input type="hidden" name="login_to_order" value="1" />
    
    <div><input id="user_email" name="user[email]" size="30" type="email" value="" placeholder="E-mail" style="background-color:#ECECEC; height:30px; margin-bottom:10px;" /></div>
    <div><input id="user_password" name="user[password]" size="30" type="password" placeholder="Password" style="background-color:#ECECEC; height:30px;"/></div>
  
    <% if @signin_failure %>
      <div class="alert alert-error" style="width:210px;">
        Invalid username and password.
      </div>
    <% end %>
    <div style="margin:0px;">
      <input name="commit" class="show_button_buy" style="width: 130px; height: 50px; padding: 8px 15px;" type="submit" value="Sign in" />
    </div>
  <% end %>
    <div class="email_info_fb">
  <a href="<%= user_omniauth_authorize_path(:facebook)%>"><img class="fb-connect" src="/images/fb_connect.png"></a>
  </div>
</div>

<div class="email_signup_container"style="float: right; width: 50%; ">
  <div class="headings_pink cat_choose" style="line-height:1.5;">Don't have an account? Sign up now!</div><br/>
  <p class="product_desc" style="color:#38B4DE;">We'll use this email address to send you shipping details and progress updates every step of the way.</p>
  <%= form_for(@user || resource, :as => "user", :url => registration_path(@user), :method => :post) do |f| %>
    <input type="hidden" name="login_to_order" value="1" />
    
    <%= f.email_field :email, :class =>"email_textfield", :placeholder =>"E-mail" %><br/>
    <%= f.password_field :password, :class =>"email_textfield", :placeholder =>"Password"  %><br/>
    <%= f.password_field :password_confirmation, :class =>"email_textfield", :placeholder =>"Confirm Password"  %>
    <% if @user_for_register && !@user.errors.empty? %>
      <div class="alert alert-error" style="width:210px;">
        <%= raw @user.errors.full_messages.join(". ") %>
      </div>
    <% end %>
      <div>
      <input name="commit" class="show_button_buy" style="width: 130px; color:white; font-size:20px; font-family:'myriad';height:50px; padding: 8px 15px; position:relative; top:20px;" type="submit" value="Sign up" />
    </div>
  <% end %>
</div>

</div>
