<style type="text/css">
body{
  background: whitesmoke;
}
label{
  color:#38B4DE;
  font-size: 15px;
}
#checkout_content{
  color:#666;
}

</style>

<%= render :partial => "steps", :locals => {:current_step => 2 } %>

<div class="container" style="background: white;width: 85%;margin: 25px auto; padding: 60px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">
<div class="headings_pink">Payment Information</div>
<br/>
<div id="checkout_content" class="payment_editing_block">
  <div class="payment_group_contents">
    <div class="valid_form payout_form standard_form paypal" style="display: block;">
      
      <%= form_for(@order, :as => 'order', :url => "/orders/shipping_info", :html => {:id => "new_order"}) do |f| %>
        <%= f.hidden_field :order_type %>
        <%= f.hidden_field :product_id %>
        <%= f.hidden_field :token_key %>
        <%= f.hidden_field :using_condition %>
        <%= f.hidden_field :honey_price %>

        <%= f.hidden_field :shipping_first_name %>
        <%= f.hidden_field :shipping_last_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_optional_address %>
        <%= f.hidden_field :shipping_city %>
        <%= f.hidden_field :shipping_state %>
        <%= f.hidden_field :shipping_zip_code %>
        <%= f.hidden_field :shipping_country %>
        
        <div class="payment_product_info">
          <label><%= @order.title %></label><br />
          <div class="payment_product_image">
            <img src="<%= @product.main_image_url(:large) %>">
          </div>
        </div>

        <div class="payment_after_selling">
          <label>After selling, you get:</label>
          <span style="font-size:20px;"><%= format_num(@order.honey_price) %></span> <img class="payment_currency" src="/images/honey_20px.png"><br/>
          <br/>
        <div class="payment_selling_info">
          Your balance would increase to <%= format_num(current_user.honey_balance + (@order.honey_price || 0)) %>&nbsp;<img class="payment_currency" src="/images/honey_20px.png"> after selling.
          <br />You could use this honey to buy anything!
        </div>
        
        <br/>
        <input name="commit" class="payment_button_sell" type="submit" value="Continue" />
      <% end %>
    </div>
  </div>
</div>
</div>
        </div>


