<div id="progress_indicator" class="three_steps">
  <ul>
    <li>
      Step 1
    </li>
    <li class="current">
      <strong>Step 2</strong>
    </li>
    <li>
      Step 3
    </li>
  </ul>
</div>

<h2>Payment information</h2>

<div id="checkout_content" class="payment_editing_block">
  <div class="payment_group_contents">
    <div class="valid_form payout_form standard_form paypal" style="display: block;">
      
      <%= form_for(@order, :as => 'order', :url => "/orders/shipping_info") do |f| %>
        <%= f.hidden_field :order_type %>
        <%= f.hidden_field :product_id %>
  
        <%= f.hidden_field :shipping_first_name %>
        <%= f.hidden_field :shipping_last_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_optional_address %>
        <%= f.hidden_field :shipping_city %>
        <%= f.hidden_field :shipping_state %>
        <%= f.hidden_field :shipping_zip_code %>
        <%= f.hidden_field :shipping_country %>
        <%= f.hidden_field :shipping_method %>
        
        <div>
          <label>Current Balance:</label>
          <%= current_user.honey_balance.round %> Honey
        </div>
          <br/>
        <div>
          <label>Product Price:</label>
          <%= @product.honey_price.round %> Honey
        </div>
          <br/>
        <% if current_user.extra_honey_for(@product) <= 0 %>
          <div>
            <strong>Your balance is enought to buy!</strong>
            <% if current_user.card_valid? %>
              <a href="#" onclick="javascript:open_in_new_tab('/payments/new');" class="btn btn-success btn-mini">Get more Honey</a>
            <% end %>
          </div>
          <br/>
          <br/>
          <div><%= f.submit "Continue" %></div>
        <% else %>
          <div>
            <label>You need to extra Honey:</label>
            <%= current_user.extra_honey_for(@product).round %> Honey
          </div>
          <br/>
          <br/>
          <div>
            <% if current_user.card_valid? %>
              You would be charged $<%= (current_user.extra_honey_for(@product)/100).round %> (Exchange Rate: 100 Honey / $1 )
              <a href="#" onclick="javascript:open_in_new_tab('/payments/new');" class="btn btn-success btn-mini">Get more Honey</a>
            <% else %>
              Your payment has not verified. Please edit <a href="javascript:open_in_new_tab('/users/edit#card_info_container');">Card Information of your Profile</a>.  
            <% end %>
          </div>
          <br/>
          <br/>
          <a href="/" class="btn">Cancel</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>