<style type="text/css">
body{
  background: whitesmoke;
}
</style>

<%= render :partial => "steps", :locals => {:current_step => 2 } %>

<div class="container">
<div class="headings_pink">Payment Information</div><br/>

<div id="checkout_content" class="payment_editing_block">
  <div class="payment_group_contents">
    <div class="valid_form payout_form standard_form paypal" style="display: block;">
      
      <%= form_for(@order, :as => 'order', :url => "/orders/shipping_info", :html => {:id => "new_order"}) do |f| %>
        <%= f.hidden_field :order_type %>
        <%= f.hidden_field :product_id %>
        <%= f.hidden_field :token_key %>
        <%= f.hidden_field :using_condition %>
        <%= f.hidden_field :honey_price %>
  
        <%= f.hidden_field :shipping_first_name %>
        <%= f.hidden_field :shipping_last_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_optional_address %>
        <%= f.hidden_field :shipping_city %>
        <%= f.hidden_field :shipping_state %>
        <%= f.hidden_field :shipping_zip_code %>
        <%= f.hidden_field :shipping_country %>
        
        <div class="payment_product_info">
          <label style="color:#38B4DE; font-size:20px; font-family:'myriad-s'";><%= @order.title %></label><br />
          <div class="payment_product_image">
            <img  src="<%= @product.main_image_url(:large) %>">
          </div>

      <div class="payment_after_selling" style="font-size:20px; color:#666;">  
        <div>
          <label style="color:#38b4de; font-family:'myriad-s'">Current Balance:</label>
          <%= format_num(current_user.honey_balance) %> <img class="payment_currency" src="/images/honey_20px.png">
        </div>
          <br/>
        <div>
          <label style="color:#38b4de; font-size:20px; font-family:'myriad-s'">Product Price:</label>
          <%= format_num(@order.honey_price) %> <img class="payment_currency" src="/images/honey_20px.png">
        </div>
          <br/>
        <% if current_user.extra_honey_for(@order) <= 0 %>
          <div>
            Your balance is enough to buy this product
            <% if current_user.payment_ready? %>
              <a href="#" onclick="javascript:showPopup('popup-dialog_add_honey');" class="btn btn-success btn-mini">Get more Honey</a>
            <% else %>
              <% #<br/>Your payment has not verified. To get more Honey, please edit <a href="javascript:open_in_new_tab('/users/edit#card_info_container');">Card Information of your Profile</a>. %> 
            <% end %>
          </div>
          </div>
          <br/>
          <br/>

    
 <input name="commit" class="payment_button_sell" type="submit" value="Continue" />        <% else %>
          <div>
            <label>You need to extra Honey:</label>
            <%= format_num(current_user.extra_honey_for(@order)) %> Honey
          </div>
          <br/>
          <br/>
          <div>
            <% if current_user.payment_ready? %>
              You would be charged $<%= format_num(current_user.extra_honey_for(@order)/100) %> (Exchange Rate: 100 Honey / $1 )
              <a href="#" onclick="javascript:showPopup('popup-dialog_add_honey');" class="btn btn-success btn-mini">Get more Honey</a>
            <% else %>
              Your payment has not verified. Please edit <span class="edit_cc_info"><a href="javascript:open_in_new_tab('/users/edit#card_info_container');" >Card Information of your Profile</a>.  </span>
            <% end %>
          </div>
          <br/>
          <br/>
          <a href="/" class="show_button_buy buy_cancel">Cancel</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
