<style type="text/css">
body{
  background: whitesmoke;
}
</style>

<%= render :partial => "steps", :locals => {:current_step => 3 } %>
<div style="background: white; width: 85%; margin: 25px auto; padding: 40px;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); height:410px; border-radius: 5px;"
<div style="width: 100%; padding-top: 40px;">
  <div class="headings_pink">You're almost there...provide your shipping address<span>*</span></div>
  <br/>
  <label class="confirm_info_head"><%= @order.title %></label><br />
  <img id="before_confirm_image" src="<%= @product.main_image_url(:large) %>" style="padding-top: 40px; padding-bottom: 0px;" />
    
  <form accept-charset="UTF-8" action="/orders/confirm" class="new_order" id="new_order" method="post" style="text-align: left; vertical-align: top; display: inline-block; padding: 45px 0px 20px;">
    <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden' />
    <%= render :partial => "/orders/shipping_form", :locals => {:order => @order, :submit_title => "Continue"} %>
  </form>
  
  <% if @order.is_trade_ins? %>
   <p class="shipping_footnote"><span>*</span>This info will be used to generate a free shipping label to send your product to us.</p>
  <% else %>
   <p class="shipping_footnote"><span>*</span>This info will be used to generate a free shipping label to send the product to you.</p>
  <% end %>
</div>

</div>