<div id="progress_indicator" class="three_steps">
  <ul>
      <li>Step 1</li>
      <li>Step 2</li>
      <li class="current"><strong>Step 3</strong></li>
  </ul>
</div>

<div class="container">
<h2 class="headings_pink">You're almost there...provide your shipping address<span>*</span></h2>

<div>
  <label class="confirm_info_head"><%= @order.title %></label><br />
  <img id="confirm_image" src="<%= @product.main_image_url(:large) %>">
</div>



<%= form_for(@order, :as => 'order', :url => "/orders/confirm", :class => "unsavedForm") do |f| %>
  <%= f.hidden_field :order_type %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :token_key %>
  <%= f.hidden_field :using_condition %>
  <%= f.hidden_field :honey_price %>

  <% unless @order.errors.empty? %>
    <div>
      <%= raw @order.errors.full_messages.join("<br/>") %>
      <br/>
    </div>
  <% end %>
  
  <% if @order.candidate_addresses && !@order.candidate_addresses.empty? %>
    <div id="candidate_addresses_container" >
      <br />
      <b class="alert alert-error">There are <%= @order.candidate_addresses.size == 1 ? "an address" : "#{@order.candidate_addresses.size} addresses"%> 
      would be exactly your address.</b><br/>
      <% @order.candidate_addresses.each_with_index do |address, index|%>
        <%= index + 1 %>. <%= address[:address1]%> 
                          <% if address[:address2] && !address[:address2].blank? %> (Address2: <%= address[:address2] %>) <% end %>
                          - <%= address[:city] %> - <%= address[:state] %> - <%= address[:zip_code] %>
        <a href="#" class="select_candidate_address" data-address="<%= address[:address1]%>" data-optional_address="<%= address[:address2]%>"
          data-city="<%= address[:city]%>" data-state="<%= address[:state]%>" 
          data-zip_code="<%= address[:zip_code]%>" data-zip_code_add_on="<%= address[:zip_code_add_on]%>"
        >Select</a><br />
      <% end %>
      <br />
    </div>
  <% end %>

  <div id="shipping_address_form" class="address_form_content">
    <div class="form_element text_field first_name half_width left">
      <label for="shipping_information_first_name">First name</label><br/>
      <%= f.text_field :shipping_first_name %>
    </div>

    <div class="form_element text_field last_name half_width">
      <label for="shipping_information_last_name">Last name</label><br/>
      <%= f.text_field :shipping_last_name %>
    </div>

    <div class="form_element text_field address_1 half_width left">
      <label for="shipping_information_street_name1">Address Line 1</label><br/>
      <%= f.text_field :shipping_address %>
    </div>

    <div class="form_element text_field address_2 half_width">
      <label class="optional" for="shipping_information_street_name2">Address Line 2 (optional)</label><br/>
      <%= f.text_field :shipping_optional_address %>
    </div>

    <div class="form_element text_field city third_width left">
      <label for="shipping_information_city">City</label><br/>
      <%= f.text_field :shipping_city %>
    </div>

    <div class="form_element dropdown state third_width middle" style="display: block;">
      <label for="shipping_information_state">State</label><br/>
      <%= f.select :shipping_state, us_subregions, {}%>
    </div>
    <div class="form_element text_field zip_code third_width">
      <label for="shipping_information_zipcode">Zip Code</label><br/>
      <%= f.text_field :shipping_zip_code %>
      <%= f.hidden_field :shipping_zip_code_add_on %>
      <%= f.hidden_field :is_candidate_address %>
    </div>

  </div>
  
  
  <% if @order.candidate_addresses && !@order.candidate_addresses.empty? %>
     <input name="commit" class="order_button_sell" style="width: 180px; height: 50px;" type="submit" value="Continue" />

    <script>
      $(".select_candidate_address").live("click", function() {
        $("#order_shipping_address").attr("value", $(this).attr("data-address"));
        $("#order_shipping_optional_address").attr("value", $(this).attr("data-optional_address"));
        $("#order_shipping_city").attr("value", $(this).attr("data-city"));
        $("#order_shipping_state").attr("value", $(this).attr("data-state"));
        $("#order_shipping_zip_code").attr("value", $(this).attr("data-zip_code"));
        $("#order_shipping_zip_code_add_on").attr("value", $(this).attr("data-zip_code_add_on"));
        $("#new_order").submit();
      });
      $("#order_is_candidate_address").attr("value", true);
        
      $(".form_element input").live("change", function() {
        $("#continue_button").show();
        $("#candidate_addresses_container").hide();
        $("#order_is_candidate_address").attr("value", false);
      });
    </script>

  <% else %>
 <input name="commit" class="order_button_sell" style="width: 180px; height: 50px; padding:0px;" type="submit" value="Continue" />  <% end %>
  
<% end %>
<% if @order.is_trade_ins? %>
 <p class="shipping_footnote"><span>*</span>This info will be used to generate a free shipping label to send your product to us.</p>
<% else %>
 <p class="shipping_footnote"><span>*</span>This info will be used to generate a free shipping label to send the product to you.</p>
<% end %>
</div>