<style type="text/css">
label{
  color:#38B4DE;
  font-size: 16px;
}
</style>
<div style="height:420px">
<%= form_for(@payment, :as => 'payment', :url => "/payments/create", :html => {:id => "add_honey_form"}) do |f| %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :honey_money %>
  <%= f.hidden_field :card_type %>
  <%= f.hidden_field :card_last_four_number %>
  <%= f.hidden_field :card_name %>
  <%= f.hidden_field :card_expired_month %>
  <%= f.hidden_field :card_expired_year %>
  <%= f.hidden_field :new_stripe_card_token %>
  <%= f.hidden_field :new_card_number %>
  <%= f.hidden_field :new_card_type %>
  <%= f.hidden_field :new_card_last_four_number %>
  <%= f.hidden_field :new_card_name %>
  <%= f.hidden_field :new_card_expired_month %>
  <%= f.hidden_field :new_card_expired_year %>
  <% if (params[:reload_payment_order_info] && params[:reload_payment_order_info] == "true") %>
    <input type="hidden" name="reload_payment_order_info" value="true" />
  <% end %>
  
  <div class="headings_pink">Confirm Your Payment Details</div><br/>
<div style="float:left; font-family:'myriad-s';">  
  <div>
    <label style="color:#666; font-family:'myriad-s';">Dollar Amount:</label>
    $<%= format_num(@payment.amount, 2) %>
  </div>
  <div>
    <label style="color:#666; font-family:'myriad-s';">Honey amount:</label>
    <%= format_num(@payment.honey_money) %> Honey
  </div>
</div>
  <div style="float:left; margin-left:50px; font-family:'myriad-s;">
    <span style="color:#666; font-size:16px; font-family:'myriad-s'"><img src="/images/check_mark.png">&nbsp;Your current balance is:</span>
    <span style="color:#666; font-size:16px; font-family:'myriad-s'"><%= format_num(current_user.honey_balance) %> Honey</span><br />
    <span style="color:#666; font-size:16px; font-family:'myriad-s'"><img src="/images/check_mark.png">&nbsp;After payment, your balance will be:</span>
    <span style="color:#666; font-size:16px; font-family:'myriad-s'"><%= format_num(@payment.honey_money + current_user.honey_balance) %> Honey</span>
  </div>
  <br/>


 <div style="height:400px; margin-top:40px; margin-left:50px;">
  <%= render :partial => "/shared/card_info", :locals => {:card => @payment.new_card_info ? @payment.new_card_info : @payment.card_info_in_hash }%></div>
  <br/>
  <div>
    <a href="#" id="back_submit" class="show_button_buy"onclick="submit_back_form('/payments/edit_card');" style="position:relative; bottom:120px;">Back</a>
    <a href="#" class="show_button_buy submit_button" onclick="showPageLoading(); submit_add_honey_form();" style="position:relative; bottom:120px; left:10px;">Pay Now</a>
  </div>    
<% end %>
</div>
