<%= form_for(@payment, :as => 'payment', :url => "/payments/confirm") do |f| %>
  <h2>Buy Honey money to join market</h2>
  <div>
    <%= f.label :honey_money %><br />
    <%= f.text_field :honey_money, :autocomplete => "off" %>
  </div>
  <div>
    <label>Ratio</label>: 1 Honey = $0.1
  </div>
  <div>
    <label>Amount will be charged</label>: <b><span id="calculate_amount">$0.0</span></b>
  </div>
  
  <h3>Charge to your Credit card</h3>
  <%= render :partial => "/shared/card_info", :locals => {:card => current_user }%>
  <br/>
  <div>
    <%= f.submit "Submit" %>
  </div>    
<% end %>

<script>
  $("#payment_honey_money").live("keydown", function(){ recalculate(); });
  $("#payment_honey_money").live("blur", function(){ recalculate(); });
  
  function recalculate() {
    var honey_money = parseInt(accounting.toFixed($("#payment_honey_money").attr("value")));
    if(honey_money > 0) {
      var money = honey_money * 0.1;
      $("#calculate_amount").text(accounting.formatMoney(money));
      $("#payment_honey_money").attr('value', accounting.formatNumber(honey_money));
    }else{
      $("#calculate_amount").text("$0.0");
    }
  }
</script>
