<h1>Your Products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= link_to "Put up a new product", new_post_path, class:'btn btn-primary'%>
<% @posts.each do |post| %>
  
    <div class="product">
    <p><strong><%= post.name %><strong></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <%= link_to time_ago_in_words(post.created_at)+" ago", post %> 

    <div class="meta">
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
