<style type="text/css">
body{
  background: whitesmoke;
}
</style>

<div class="container show_container">
  <div class="product_name">
    <%= @product.title %>
  </div>
  <div id="product_container">
    <img class="product_show_image" src="<%= @product.main_image_url(:large) %>">
    <div id="product_text">
      <div class="product_price">
        <% if @product.has_flawless_type? %>
          <input type="radio" id="using_condition" name="using_condition" value="Flawless"></input> Flawless 
          <span class="product_desc"><%= format_num(@product.honey_price)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <br/>
        <% end %>
        <% if @product.has_good_type? %>
          <input type="radio" id="using_condition" name="using_condition" value="Poor"></input> Good
          <span class="product_desc"><%= format_num(@product.price_for_good_type)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <br/>
        <% end %>
        <% if @product.has_poor_type? %>
          <input type="radio" id="using_condition" name="using_condition" value="Poor"></input> Poor
          <span class="product_desc"><%= format_num(@product.price_for_poor_type)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <br/>
        <% end %>
      </div>	
    </div>
  </div>

</div>
  <div class="show_definitions">
    <dl>
      <dt>flawless |ˈflôləs|</dt>
      <dd>Doesn't show any use, like new.</dd>
      <dt>good |go͝od|</dt>
      <dd>Normal signs of use.</dd>
      <dt>poor |po͝or, pôr|</dt>
      <dd>Damaged and/or does not turn on.</dd>
    </dl>
  </div>
  <%= render :partial => "/layouts/footer" %>
