<style type="text/css">
body{
  background: whitesmoke;
}
</style>
<div class="product_name" style="width: 100%"><%= @product.title %></div>
<div id="product_container" style="width: 100%">
  <div style="display: inline-block; vertical-align: top;">
    <img class="product_show_image" src="<%= @product.main_image_url(:large) %>">  
  </div>
  <div id="product_text">
    <div class="product_price">
      <% if @product.has_flawless_type? %>
      <div class="type">
        <label for="flawless"><%= @product.flaw_less_name %></label>
        <input type="radio" id="flawless" name="using_condition" style="display:none;" check="checked"/>
      <span class="product_desc"><%= format_num(@product.honey_price)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
      </div>
      <% end %>
      <% if @product.has_good_type? %>
      <div class="type">
        <label for="poor">Good</label>
        <input type="radio" id="good" name="using_condition" value="Good" style="display:none;"/>
        <span class="product_desc"><%= format_num(@product.price_for_good_type)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
      </div>
        <% end %>
        <% if @product.has_poor_type? %>
        <div class="type">
        <label for="three">Poor</label>
          <input type="radio" id="three" name="using_condition" value="Poor" style="display:none;"/>
          <span class="product_desc"><%= format_num(@product.price_for_poor_type)%> </span><span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
        </div>
          <% end %>
        </div>	
      </div>
      <div class="show_definitions">
        <dl style="margin:0;">
          <% if @product.has_flawless_type? %>
          <dt><%= @product.flaw_less_name %></dt>
          <div style="font-size:16px;">Doesn't show any use, like new.</div>
          <% end %>
          <% if @product.has_good_type? %>
          <dt>Good</dt>
          <div style="font-size:16px;">Normal signs of use.</div>
          <% end %>
          <% if @product.has_poor_type? %>
          <dt>Poor</dt>
          <div style="font-size:16px;">Damaged and/or does not turn on.</div>
          <% end %>
        </dl>
      </div>
    </div>


