
<div class="product_name">
  <h2><%= @product.title %></h2>
</div>

<div class="product_model">
	Model: <span class="product_desc"><%= @product.product_model.title %></span><br/><br/>
  <% @product.product_model_attributes.each do |model_attribute| %>
    <%= model_attribute.category_attribute.title %>:<span class="product_desc"> <%= model_attribute.value %></span><br/><br/>
  <% end %>
</div>
<div class="using_condition">
  Using condition:<span class="product_desc"><%= @product.using_condition %></span>
</div>
<br/>

<div class="product_price">
  Price: <span class="product_desc"><%= format_num(@product.honey_price)%> Honey</span>
</div>
<br/>