<style type="text/css">
body{
  background: whitesmoke;
}
</style>
<div class="product_name" style="width: 100%"><%= @product.title %></div>
<div id="product_container" style="width: 100%">
  <div style="display: inline-block; vertical-align: top;">
    <img class="product_show_image" src="<%= @product.main_image_url(:large) %>">  
  </div>
  <div id="product_text">
    <div class="product_price">
      <% @using_condition = (params[:using_condition] || "").blank? ? "Flawless" : params[:using_condition] %>
      <input type="hidden" name="using_condition" id="using_condition" value="<%= @using_condition %>" >
      <% if @product.has_flawless_type? %>
        <div class="type <% if @using_condition == "Flawless" %>selected<% end %>">
          <label for="Flawless"><%= @product.flaw_less_name %></label>
          <span class="product_desc"><%= format_num(@product.honey_price)%> </span>
          <% if @using_condition == "Flawless" %>
            <span class="show_honey_symbol"><img src="/images/honey_currency_score.png"></span>
          <% else %>
            <span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <% end %>
        </div>
      <% end %>
      <% if @product.has_good_type? %>
        <div class="type <% if @using_condition == "Good" %> selected <% end %>">
          <label for="Good">Good</label>
          <span class="product_desc"><%= format_num(@product.price_for_good_type)%> </span>
          <% if @using_condition == "Good" %>
            <span class="show_honey_symbol"><img src="/images/honey_currency_score.png"></span>
          <% else %>
            <span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <% end %>
        </div>
      <% end %>
      <% if @product.has_poor_type? %>
        <div class="type<% if @using_condition == "Pood" %> selected <% end %>">
          <label for="Poor">Poor</label>
          <span class="product_desc"><%= format_num(@product.price_for_poor_type)%> </span>
          <% if @using_condition == "Poor" %>
            <span class="show_honey_symbol"><img src="/images/honey_currency_score.png"></span>
          <% else %>
            <span class="show_honey_symbol"><img src="/images/honey_20px_grey.png"></span>
          <% end %>
        </div>
      <% end %>
    </div>	
  </div>
  <div class="show_definitions">
    <dl style="margin:0;">
      <% if @product.has_flawless_type? %>
        <dt><%= @product.flaw_less_name %></dt>
        <div style="font-size:16px;">Doesn't show any use, like new.</div>
      <% end %>
      <% if @product.has_good_type? %>
        <dt>Good</dt>
        <div style="font-size:16px;">Normal signs of use.</div>
      <% end %>
      <% if @product.has_poor_type? %>
        <dt>Poor</dt>
        <div style="font-size:16px;">Damaged and/or does not turn on.</div>
      <% end %>
    </dl>
  </div>
</div>
<script>
  $("#product_container .type").live("click", function(){
    $("#product_text .selected img").attr("src", "/images/honey_20px_grey.png");
    $("#product_text .type").removeClass('selected');

    $(this).addClass('selected');
    $("#using_condition").attr("value", $(this).find("label").attr("for"));
    $(this).find("img").attr("src", "/images/honey_currency_score.png");
  });
  
</script>

