<% if (params["for"] && params["for"] == "sell") %>
  <form action="/orders/sell/<%= @product.id %>" method="post">
<% else %>
  <form action="/orders/buy/<%= @product.id %>" method="post">
<% end %>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    
    <div class="show_container">
      <%= render :partial => "/products/detail_info"%>
    </div>
    <div style="text-align:center; width: 100%; display: block;">
      <% if @error_message && !@error_message.blank? %>
        <div class="alert alert-error" style="width: 400px; display: block; margin: 0 auto;"><%= @error_message %></div><br/>
      <% end %>
      <% if (params["for"] && params["for"] == "sell") %>
        <input type="submit" value="Sell" class="show_button_sell" />
      <% else %>
        <input type="submit" value="Buy" class="show_button_buy"/>
      <% end %>
    </div>
</form>
