<% if (params["for"] && params["for"] == "sell") %>
  <form action="/orders/sell/<%= @product.id %>" method="post">
<% else %>
  <form action="/orders/buy/<%= @product.id %>" method="post">
<% end %>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    <%= render :partial => "/products/detail_info"%>
    <% if @error_message && !@error_message.blank? %>
      <div class="alert alert-error" style=" position: relative; bottom:100px;left:280px; text-align:center; width:400px;"><%= @error_message %></div><br/>
    <% end %>
    <div style="text-align:center; position:relative; bottom:280px;" >
      <% if (params["for"] && params["for"] == "sell") %>
        <input type="submit" value="Sell" class="show_button_sell" />
      <% else %>
        <input type="submit" value="Buy" class="show_button_buy" style="  position:relative;
  top:150px;"/>
      <% end %>
    </div>
</form>
