<h1>Order Number: <%= @order.id %> </h1>
<p>Created at: <%= @order.created_at %></p>
<br/>

<h2>Your Shipping Address</h2>
<p>
  <%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
  <%= @order.shipping_address %><br />
  <%= @order.shipping_optional_address %>
  <%= @order.shipping_city %><br />
  <%= @order.shipping_state %><br />
  <%= @order.shipping_zip_code %><br />
  <%= @order.shipping_country %><br />
</p>

<% sell_amount = 0 %>
<% if @order.order_products.for_sell.count > 0 %>
<h2 style="page-break-before: always;">Trade-in items: </h2>
<table border="1">
  <tr>
    <td>No.</td>
    <td>Product</td>
    <td>Model</td>
    <td>Condition</td>
    <td>Price</td>
  </tr>
<% @order.order_products.for_sell.each_with_index do |order_product, index| %>
  <% sell_amount += order_product.price %>
  <tr>
    <td><%= index + 1%></td>
    <td><%= order_product.product.title %></td>
    <td><%= order_product.product.product_model.title %></td>
    <td><%= order_product.using_condition %></td>
    <td style="text-align: right;">$<%= number_with_delimiter(order_product.price) %></td>
  </tr>
<% end %>
  <tr>
    <td style="text-align: right;" colspan="4">Total selling price</td>
    <td style="text-align: right;">$<%= number_with_delimiter(sell_amount) %></td>
  <tr>
</table>

<h2>Shipping Label</h2>
<i>(Next page)</i>

<div style="width:100%; page-break-before: always; height: 60px; border-style:solid; border-width: 1px; border-color: black; border-bottom: none;">
  <img src="<%= File.expand_path(Rails.root) %>/public/images/swapidy_logo.png" style="height: 50px; padding: 5px;">
</div>
<div style="width:100%; text-align: center; border-style:solid; border-width: 1px; border-color: black;">
  <img src="<%= @order.shipping_stamps.for_sell.first.url %>" style="width:400px; height:auto; padding: 10px; transform: rotate(90deg);" >
</div>

<% end %>

<% buy_amount = 0 %>  
<% if @order.order_products.for_buy.count > 0 %>
<h2 style="page-break-before: always;">Order items: </h2>
<table border="1">
  <tr>
    <td>No.</td>
    <td>Product</td>
    <td>Model</td>
    <td>Condition</td>
    <td>Price</td>
  </tr>
<% amount = 0 %>  
<% @order.order_products.for_buy.each_with_index do |order_product, index| %>
  <% buy_amount += order_product.price %>
  <tr>
    <td><%= index + 1%></td>
    <td><%= order_product.product.title %></td>
    <td><%= order_product.product.product_model.title %></td>
    <td><%= order_product.using_condition %></td>
    <td style="text-align: right;">$<%= number_with_delimiter(order_product.price) %></td>
  </tr>
<% end %>
  <tr>
    <td style="text-align: right;" colspan="4">Total selling price</td>
    <td style="text-align: right;">$<%= number_with_delimiter(buy_amount) %></td>
  <tr>
</table>

<p><i>Tracking number</i>: <strong><%= @order.shipping_stamps.for_sell.first.tracking_number %></strong></p>

<% end %>

<% if buy_amount > sell_amount %>
<h2>You will be charged: $<%= number_with_delimiter(buy_amount - sell_amount) %></h2>
<% else %>
<h2>You would get: $<%= number_with_delimiter(sell_amount - buy_amount) %></h2>
<% end %>
<br/>