<h1>Order Number: <%= @order.id %> </h1>
<p>Created at: <%= @order.created_at %></p>
<br/>

<% sell_amount = 0 %>
<% if @order.order_products.for_sell.count > 0 %>
<h2>Trade-in products:</h2>
<table border="1" width="100%">
  <tr>
    <td width="40px" style="text-align: center;">No.</td>
    <td style="text-align: center;">Product</td>
    <td width="120px" style="text-align: center;">Model</td>
    <td width="80px" style="text-align: center;">Condition</td>
    <td width="60px" style="text-align: center;">Weight</td>
    <td width="100px" style="text-align: center;">Price</td>
  </tr>
<% @order.order_products.for_sell.each_with_index do |order_product, index| %>
  <% sell_amount += order_product.price %>
  <tr>
    <td><%= index + 1%></td>
    <td><%= order_product.product.title %></td>
    <td><%= order_product.product.product_model.title %></td>
    <td><%= order_product.using_condition %></td>
    <td style="text-align: right;"><%= number_with_delimiter(order_product.weight_lb) %> lbs</td>
    <td style="text-align: right;">$<%= number_with_delimiter(order_product.price) %></td>
  </tr>
<% end %>
  <tr>
    <td style="text-align: right;" colspan="5">Total</td>
    <td style="text-align: right;">$<%= number_with_delimiter(sell_amount) %></td>
  <tr>
</table>
<% end %>

<% buy_amount = 0 %>  
<% if @order.order_products.for_buy.count > 0 %>
<h2>Ordered products:</h2>
<table border="1" width="100%">
  <tr>
    <td width="40px" style="text-align: center;">No.</td>
    <td style="text-align: center;">Product</td>
    <td width="120px" style="text-align: center;">Model</td>
    <td width="80px" style="text-align: center;">Condition</td>
    <td width="60px" style="text-align: center;">Weight</td>
    <td width="100px" style="text-align: center;">Price</td>
  </tr>
<% amount = 0 %>  
<% @order.order_products.for_buy.each_with_index do |order_product, index| %>
  <% buy_amount += order_product.price %>
  <tr>
    <td><%= index + 1%></td>
    <td><%= order_product.product.title %></td>
    <td><%= order_product.product.product_model.title %></td>
    <td><%= order_product.using_condition %></td>
    <td style="text-align: right;"><%= number_with_delimiter(order_product.weight_lb) %> lbs</td>
    <td style="text-align: right;">$<%= number_with_delimiter(order_product.price) %></td>
  </tr>
<% end %>
  <tr>
    <td style="text-align: right;" colspan="5">Total</td>
    <td style="text-align: right;">$<%= number_with_delimiter(buy_amount) %></td>
  <tr>
</table>
<% end %>

<% if buy_amount > sell_amount %>
<h2>Difference paid: $<%= number_with_delimiter(buy_amount - sell_amount) %></h2>
<% else %>
<h2>Remaining balance: $<%= number_with_delimiter(sell_amount - buy_amount) %></h2>
<% end %>

<h2>Your Shipping Address</h2>
<p>
  <%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
  <%= @order.shipping_address %><br />
  <%= @order.shipping_optional_address %>
  <%= @order.shipping_city %><br />
  <%= @order.shipping_state %><br />
  <%= @order.shipping_zip_code %><br />
  <%= @order.shipping_country %>
</p>
<br/>

<h2>Shipping Label</h2>
<p>
  Your shipping label is on the next page.
  Print it out and affix it on top of the package with your trade-in products. 
  Simply drop it off at any USPS location or your mailbox if it fits.<br/>
 	<br/>
  <b>Note: Ship your product(s) as soon as possible to avoid delay in receiving your order</b>
</p>

<div style="width:100%; page-break-before: always; height: 60px; border-style:solid; border-width: 1px; border-color: black; border-bottom: none;">
  <img src="<%= File.expand_path(Rails.root) %>/public/images/swapidy_logo.png" style="height: 50px; padding: 5px;">
</div>
<div style="width:100%; text-align: center; border-style:solid; border-width: 1px; border-color: black;">
  <img src="<%= @trade_ins_stamp.url %>" style="width:400px; height:auto; padding: 10px; transform: rotate(90deg);" >
</div>
  

