<h1>Order Number: <%= @order.id %> </h1>
<p>Created at: <%= @order.created_at %></p>
<br/>

<h2>Item: <%= @order.product.title %></h2>
<p>
  <u><i>Model:</i> <strong><%= @product.product_model.title %></strong></u><br/>
  <% @product.product_model_attributes.each do |model_attribute| %>
    <i><%= model_attribute.category_attribute.title %></i>: <strong><%= model_attribute.value %></strong><br/>
  <% end %>
</p>
<p><i>Condition</i>: <strong><%= @order.using_condition %></strong></p>
<p><strong><i>Price</i>: <%= number_with_delimiter(@product.honey_price) %> Honey</strong></p>

<h2>Shipping to</h2>
<p>
  <%= @order.shipping_first_name %> <%= @order.shipping_last_name %><br />
  <%= @order.shipping_address %><br />
  <%= @order.shipping_optional_address %>
  <%= @order.shipping_city %><br />
  <%= @order.shipping_state %><br />
  <%= @order.shipping_zip_code %><br />
  <%= @order.shipping_country %><br />
</p>
<p><i>Tracking number</i>: <strong><%= @shipping_stamp.tracking_number %></strong></p>
