<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/images/swapidy_logo.png" style="height:50px"></a>
      <ul class="nav pull-right" role="navigation">
        <% if user_signed_in? %>

          <li class="dropdown" id="notification_menu" >
            <%= render :partial => "/layouts/notifications_menu" %>
          </li>
          <script language="JavaScript">
            $('#notification_menu ul li .notification_remove_icon').live("click", function(){
              var id = $(this).attr("notification-data");
              $.ajax({
                type : 'PUT',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url : '/notifications/' + id + '/hide',
                dataType : 'script'
              });
              return false;
            });
            $('#notification_menu ul li .notification_title').live("click", function(){
              var url = $(this).attr("notification-data");
              window.location = url;
              return false;
            });
            $('#notification_menu ul li .clear_all').live("click", function(){
              $.ajax({
                type : 'PUT',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url : '/notifications/all/hide',
                dataType : 'script'
              });
              return false;
            });
          
            setInterval(function(){
              $.ajax({
                type : 'PUT',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url : '/notifications/refresh',
                dataType : 'script'
              });
            },10*60*1000);
          </script>

          <%= render :partial => "/layouts/profile_menu" %>

          <li>
            <a href="/users/edit" class="nav_settings"> <img class="nav_icons nav_settings" src="/images/settings_icon.png"></a>         
          </li>
          <li class="divider-vertical"></li>

          <li>
            <div class="honey_display">
              <div style="display: inline-block;"><img src="/images/honey_currency_score.png"><%= format_num(current_user.honey_balance)%></div>
              <div style="display: inline-block;"><a href="/payments/new"><img class="honey_currency_plus" src="/images/honey_currency_plus.png"></a></div>
            </div>
          </li>
          <% if current_user.is_admin? %>
            <li>
              <%= link_to('ADMIN', rails_admin_path, :method => :get) %>
            </li>

          <% end %>
          
        <% else %>
          <li id="nav_login">
            <a href="javascript:showPopup('popup-dialog_for_signin');" >LOGIN</a>
          </li>
           <li class="divider-vertical"></li>
          <li id="nav_signup">
            <a href="javascript:showPopup('popup-dialog_for_signup');" >SIGN UP</a>
          </li>
          <li class="divider-vertical"></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div>
    <strong>Signed in as <%= current_user.first_name %></strong>
  </div>
<% else %>
  <div id="popup-box-bg" style="display: none;"></div>
  <div id="popup-dialog_for_signup" style="display:none;" class="popup-box-wrapper standard-popup">
    <div id="dialog-content">
      <%= render :partial => "/devise/shared/signup_form", :locals => {:resource => User.new, :resource_name => "user", :show_cancel_link => true} %>
    </div>
  </div>
  
  <div id="popup-dialog_for_signin" style="display:none;" class="popup-box-wrapper standard-popup">
    <div id="dialog-content"
      <%= render :partial => "/devise/shared/signin_form", :locals => {:resource => User.new, :resource_name => "user", :show_cancel_link => true} %>
    </div>
  </div>
<% end %>

<%= render :partial => "/layouts/orders.html" if current_user %>
