<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/images/swapidy_logo.png" style="height:80px; margin-top:10px;"></a>
      
      <ul class="nav pull-right nav_header" role="navigation" style="">
      
        <li>
          <a href="/howitworks">HOW IT WORKS</a>
        </li>
        <li class="divider-vertical"></li>

        <% if user_signed_in? %>
	        <% if current_user.free_money_sendable? %>
	          <li id="nav_login">
	            <a href="javascript:refresh_free_money_form();" >GET FREE CASH</a>
	          </li>
	          <li class="divider-vertical"></li>
	        <% end %>
        <li class="dropdown" id="notification_menu" >
          <%= render :partial => "/layouts/notifications_menu" %>
        </li>        
        <script language="JavaScript">
          $('#notification_menu ul li .notification_remove_icon').live("click", function() {
            var id = $(this).attr("notification-data");
            $.ajax({
              type : 'PUT',
              beforeSend : function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              url : '/notifications/' + id + '/hide',
              dataType : 'script'
            });
            return false;
          });
          $('#notification_menu ul li .notification_title').live("click", function() {
            var url = $(this).attr("notification-data");
            window.location = url;
            return false;
          });
          $('#notification_menu ul li .clear_all').live("click", function() {
            $.ajax({
              type : 'PUT',
              beforeSend : function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              url : '/notifications/all/hide',
              dataType : 'script'
            });
            return false;
          });

          setInterval(function() {
            $.ajax({
              type : 'PUT',
              beforeSend : function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              url : '/notifications/refresh',
              dataType : 'script'
            });
          }, 10 * 60 * 1000);

          <% if display_guide? %>display_guide();<% end %>
        </script>

        <%= render :partial => "/layouts/profile_menu" %>

        <li class="dropdown">
          <a id="dropdown_profile_icon" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <img class="nav_icons nav_settings" src="/images/settings_icon.png"></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_profile_icon">
            <li>
              <a tabindex="-1" href="/users/edit">ACCOUNT SETTINGS</a>
            </li>
            <li>
              <%= link_to('LOG OUT', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </li>     
        

        <% if current_user.is_admin? %>
	        <li>
	          <%= link_to('ADMIN', rails_admin_path, :method => :get) %>
	        </li>
        <% end %>

        <% else %>
         <li id="nav_signup">
          <a href="javascript:refresh_signup_form();" >SIGN UP</a>
        </li>
    
        <li class="divider-vertical"></li>
           <li id="nav_login">
          <a href="javascript:refresh_signin_form();" >LOG IN</a>
        </li>
        <% end %>
         <li class="divider-vertical"></li>

          <li class="dropdown" style="width: 65px;">
            <small id="product_count" class="product_count" style="position:absolute; color:#fa3a6e; font-size: 90%; left: 50px;"></small>
            <a id="dropdown_shop_cart_icon" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag("shop_cart.png", :class => "nav_icons nav_shop_cart")%> </a>            
            <ul id="drop_items" class="dropdown-menu dropdown_shop_cart_icon" role="menu" aria-labelledby="dropdown_shop_cart_icon" style="width: 350px;max-height: 500px; overflow-y: scroll;">
              <%= render "layouts/shopping_cart" %>
            </ul>
          </li>
          <li class="divider-vertical"></li>
             <li id="nav_signup">
          <a href="javascript:showPopup('popup-dialog_help');" >HELP</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if user_signed_in? %>
<div>
  <strong>Signed in as <%= current_user.first_name %></strong>
</div>
<% if current_user.free_money_sendable? %>
<div id="popup-dialog_for_free_money" style="display:none;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <%= render :partial => "/free_moneys/new" %>
  </div>
  <script language="JavaScript">

    function submitAddMoney() {
      $.ajax({
        type : 'POST',
        url : $("#popup-dialog_for_free_money #add_money").attr("action"),
        data : $("#popup-dialog_for_free_money #add_money").serialize(),
        dataType : 'script',
        success : function(data) {
        }
      });
    }

    function refresh_free_money_form() {
      $('#popup-dialog_for_free_money #email').attr('value', '');
      $('#popup-dialog_for_free_money .alert-error').hide();
      $('#popup-dialog_for_free_money .alert-success').hide();
      showPopup('popup-dialog_for_free_money');
    }
  </script>
</div>
<% end %>
<% else %>
<div id="popup-dialog_for_signup" style="display:none; width: 0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <%= render :partial => "/devise/shared/signup_form", :locals => {:resource => User.new, :resource_name => "user", :show_cancel_link => true} %>
  </div>
</div>

<div id="popup-dialog_for_signin" style="display:none; width: 0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <%= render :partial => "/devise/shared/signin_form", :locals => {:resource => User.new, :resource_name => "user", :show_cancel_link => true} %>
  </div>
</div>
<% end %>
<div id="popup-box-bg" style="display: none;"></div>

<div id="popup-dialog_how_it_work" style="display:none; width: 0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background:url('/images/popup-bg.png') repeat; border-radius: 10px; padding: 30px 30px; position:fixed; top:20px; height:400px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <%= render :partial => "/home/how_it_works" %>
    </div>
  </div>
</div>


<div id="popup-dialog_help" style="display:none; width:300px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background:url('/images/popup-bg.png') repeat; border-radius: 10px; padding: 30px 30px; position:fixed; top:100px; line-height:1.5; text-align:center; width:500px; margin-left:260px;" >
            <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
    <div class="help_unit help_1">
      <img class="help_img"src="/images/icon_call.png"><br/><br/>
      Call Us Monday-Friday 9-9 PST:<br/> 1-(855)-SWAPIDY
    </div>  
    <div class="help_unit help_2">
      <a href="/contact_us"><img class="help_img" src="/images/icon_email.png"><br/><br/>
      Email Us</a>
    </div>
    </div>
  </div>
</div>

<div id="popup-dialog_sell" style="display:none; width: 0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background:url('/images/popup-bg.png') repeat; border-radius: 10px; padding: 30px 30px; position:fixed; top:20px; height:430px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <%= render :partial => "/home/how_sell_works" %>
    </div>
  </div>
</div>
<div id="popup-dialog_buy" style="display:none; width: 0px; padding: 0px;" class="popup-box-wrapper standard-popup">
  <div id="dialog-content">
    <div class="container" style="background:url('/images/popup-bg.png') repeat; border-radius: 10px; padding: 30px 30px; position:fixed; top:20px; height:400px;" >
      <a class="close-popup" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
      <%= render :partial => "/home/how_buy_works" %>
    </div>
  </div>
</div>




<!-- % if current_user && controller_name != "payments" %>
  <div id="popup-dialog_add_money" style="display:none; width:0px; padding: 0px;" class="popup-box-wrapper standard-popup">
    <div id="dialog-content">
      <div class="container" style="background:url('/images/popup-bg.png'); background-repeat:repeat; border-radius: 10px; padding: 40px; width:690px; margin-left:160px;" >
        <a class="close-popup" style="position:relative; left:10px;" onclick="hidePopup();" href="#" title="Cancel">Cancel</a>
        <%#= render :partial => "/payments/new" %>
      </div>
    </div>
  </div>
<!--% end %-->
<%#= render :partial => "/layouts/orders.html" if current_user %>

<div id="page_loading_animation" style="display: none;">
  <div class="wrapper">
    <div class="inner">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div>
  </div>
  <div class="underneath">
    <span>Please wait...</span>
  </div>
</div>

<script>
  function refresh_signin_form() {
    $('#popup-dialog_for_signin #prependedInput').attr('value', '');
    $('#popup-dialog_for_signin .alert-error').hide();
    showPopup('popup-dialog_for_signin');
  }

  function refresh_signup_form() {
    $('#popup-dialog_for_signup #prependedInput').attr('value', '');
    $('#popup-dialog_for_signup .alert-error').hide();
    showPopup('popup-dialog_for_signup');
  }
  function refresh_how_it_works() {
    $("#popup-dialog_how_it_work .hiw_steps").each(function(){
      $(this).hide();
    });
    showPopup('popup-dialog_how_it_work')
  }
 
</script>

