<% if current_user.notifications.unread.count == 0 %>
  <a id="notify_icon" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">NO NEWS</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="notify_icon">
    <li><a tabindex="-1" href="#">No new event</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="/notifications">See All</a></li>
  </ul>
<% else %>
  <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.notifications.unread.count %> NEWS</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="notify_icon">
    <% current_user.notifications.unread.limit(20).each do |notification|%>
      <li id="notification_<%= notification.id %>" style="width: 300px;">
        <span class="notification_title" notification-data="/notifications#new_notification_<%= notification.id %>"
          ><%= notification.title %></span>
        <span class="notification_remove_icon" notification-data="<%= notification.id %>" >x</span>
      </li>
    <% end %>
    <li><a tabindex="-1" href="/notifications">See All</a></li>
  </ul>
<% end %>


<script language="JavaScript">
  $('#notification_menu ul li .notification_remove_icon').live("click", function(){
    var id = $(this).attr("notification-data");
    $.ajax({
      type : 'PUT',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url : '/notifications/' + id + '/hide',
      dataType : 'script'
      //success: function(data) { $("#notification_menu").html(data); }
    });
    return false;
  });
  $('#notification_menu ul li .notification_title').live("click", function(){
    var url = $(this).attr("notification-data");
    window.location = url;
    return false;
  });
</script>
