<% if current_user.notifications.unread.count == 0 %>
  <a id="notify_icon" href="#" role="button" style="padding-top: 30px;" class="dropdown-toggle" data-toggle="dropdown">
    <%= image_tag("notification_icon.png", :class => "nav_notification") %>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="notify_icon">
    <li><a tabindex="-1" href="#">No new events</a></li>
    <li><a tabindex="-1" href="/notifications" class="see_all">See All</a></li>
  </ul>
<% else %>
  <a id="notify_icon" href="#" role="button" style="padding-top: 0px;" class="dropdown-toggle" data-toggle="dropdown">
    <span class="notif_count">
    <%= current_user.notifications.unread.count %>
    </span> 
    <%= image_tag("notification_icon.png", :class => "nav_notification", :style=>"position: absolute; left: 0; bottom: 0px") %>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="notify_icon">
    <li class="all_new">
      <% current_user.notifications.unread.limit(20).each do |notification|%>
        <div id="notification_<%= notification.id %>" class="notification_row">
          <span class="notification_title" notification-data="/notifications#new_notification_<%= notification.id %>"><%= notification.title %></span>
          <span class="notification_remove_icon" notification-data="<%= notification.id %>" >x</span>
        </div>
      <% end %>
    </li>
    <li><a tabindex="-1" href="/notifications" class="see_all">See All</a></li>
    <li><a tabindex="-1" href="#" class="clear_all">Clear All</a></li>
  </ul>
<% end %>


