<div id="my_orders_container" style="display: none;" >
  <div class="vert simply-scroll-container">
    <div class="simply-scroll-clip">
      <div class="scroller" style="position: absolute; top:0;">
        <h2 style="color: #EE2C91;">Your orders to buy</h2>
        <% if current_user.orders.to_buy.not_completed.empty? %>
          <p>You don't have any order to buy</p>
        <% else %>
          <table class="table ">
            <thead style="color: #EE2C91;">
              <tr>
                <th>No.</th>
                <th>Product</th>
                <th>Price</th>
                <th>Status</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody style="color: burlyWood; font-size: 13px;">
              <% current_user.orders.to_buy.not_completed.each_with_index do |order, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= order.balance_amount %></td>
                  <td><%= order.status_title %></td>
                  <td><%= order.created_at.strftime("%H:%M %b %d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <div id="end_content"></div>
      </div>
    </div>
  </div>
  <div class="simply-scroll-back simply-scroll-btn simply-scroll-btn-up" onclick="javascript:scroll_up_content();">Up</div>
  <div class="simply-scroll-back simply-scroll-btn simply-scroll-btn-down" onclick="javascript:scroll_down_content();">Down</div>
</div>

<div id="my_trade_ins_container" style="display: none;">
  <h2 style="color: #09F;">Your orders to sell</h2>
  <% if current_user.orders.to_sell.not_completed.empty? %>
    <p>You don't have any order to sell</p>
  <% else %>
    <table class="table ">
      <thead style="color: #09F;">
        <tr>
          <th>No.</th>
          <th>Product</th>
          <th>Price</th>
          <th>Status</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody style="color: burlyWood; font-size: 13px;">
        <% current_user.orders.to_sell.not_completed.each_with_index do |order, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td>$<%= order.balance_amount %></td>
            <td><%= order.status_title %></td>
            <td><%= order.created_at.strftime("%H:%M %b %d, %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="end_content"></div>
  <% end %>
  <div class="simply-scroll-back simply-scroll-btn simply-scroll-btn-up" onclick="javascript:scroll_up_content();">Up</div>
  <div class="simply-scroll-back simply-scroll-btn simply-scroll-btn-down" onclick="javascript:scroll_down_content();">Down</div>
</div>

<%if user_signed_in? %>
  <a href="#my_trade_ins_container" onclick="javascript:processOrderIconsPosition('trade_ins');" class="order_pageslide_link"><img id="my_trade_ins" src="/images/my_trade_ins.png"></a>
  <a href="#my_orders_container" onclick="javascript:processOrderIconsPosition('orders');" class="order_pageslide_link"><img id="my_orders" src="/images/my_orders.png"></a>
  <script language="JavaScript">
    jQuery(window).load(function(){
      $(".order_pageslide_link").each(function(index) {
        $(this).pageslide({ direction: "right", modal: true });
      });
      $(window).resize(function() {
        set_opition_of_pageline_buttons();
      });
    });
    
    $("#my_trade_ins").live("mouseenter", function() {
      $(this).attr("src", "/images/my_trade_ins_hover.png");
    });
    $("#my_orders").live("mouseenter", function() {
      $(this).attr("src", "/images/my_orders_hover.png");
    });
    $("#my_trade_ins").live("mouseleave", function() {
      $(this).attr("src", "/images/my_trade_ins.png");
    });
    $("#my_orders").live("mouseleave", function() {
      $(this).attr("src", "/images/my_orders.png");
    });
    
    var current_button = "";
    var begin_position_left = 0;
    function processOrderIconsPosition(button_name) {
      if(current_button == ""){
        begin_position_left = $("#my_trade_ins").position().left;
      }

      if(current_button == button_name) {
        current_button = "";
        $(".order_pageslide_link").each(function() {
          $(this).children("img").offset({ left: begin_position_left});
        });
      }else if(current_button == "") {
        current_button = button_name;
        $(".order_pageslide_link").each(function() {
            $(this).children("img").hide();
            $(this).children("img").offset({ left: 535});
            $(this).children("img").fadeIn(500);
        });
        set_opition_of_pageline_buttons();
      }else{
        current_button = button_name;
      }
    }
    
    function set_opition_of_pageline_buttons() {
      if(current_button == "") {
        return;
      }
      var container_height = $(window).height();
      $('#my_' + current_button + '_container .simply-scroll-clip').css({ height: container_height});
    }
    
    function scroll_down_content() {
      var container_height = $(window).height();
      var current_offset = $('#my_' + current_button + '_container #end_content').offset();
      new_top = container_height - current_offset.top;
      $('#my_' + current_button + '_container .scroller').animate({ top: new_top },'50');
    }

    function scroll_up_content() {
      var container_height = $(window).height();
      var current_offset = $('#my_' + current_button + '_container #end_content').offset();
      new_top = current_offset.top + container_height;
      if(new_top > 0) {
        new_top = 0
      }
      $('#my_' + current_button + '_container .scroller').animate({ top: new_top },'50');
    }
    
  </script>
<%end%>
