<title><%= page_title %></title>
<link rel="shortcut icon" href="/favicon.ico" />
<% if  Rails.application.config.assets.debug %>
  <%= javascript_include_tag 'jquery-1.8.3.min', 'bootstrap.js', 'location_typeahead.js', 'jquery.isotope.min','jcarousellite_1.0.1.min', 'jquery.scrollto.min', 'jquery.tinycarousel', 's3Slider', 'base', 'accounting', 'page_leave' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
<% else %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
<% end %>
<%= csrf_meta_tags %>
