<!DOCTYPE html>
<html>
<head>
  <title>Swapidy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'jquery', 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
  	  <div class="navbar-inner">
  		<div class="container">
   		 <a class="brand" href="#"><img src="images/swapidy_logo.png" style="height:50px"></a>
   		 <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
           <li><%=link_to "Sign Up", new_user_registration_path%></li>
         <li class="divider-vertical"></li>
    
          <% end %>
         <li class="divider-vertical"></li>
      	
     	 
      	 <li><a href="#">Help</a></li>
    	 <form class="navbar-search">
  			<input type="text" class="search-query" placeholder="Search">
		 </form>
		</ul>
 	     </div>
 	  </div>
	</div>
  <div class="container">

    <%if user_signed_in? %>
    <div><strong>Signed in as <%= current_user.first_name %></div>
    <% else %>
    <div class="hero-unit">
      
      <h1 class="hero_title">Buy and sell instantly.</h1><br/>
      <p class="hero_info">We buy products for honey. You buy anything using honey.</p>
      <p class="hero_info">It's never been easy to buy and sell.</p>
      <p>
       
      </p>
    </div>
      </div>
	   <%end%>
  		
       <div id="main_catalog" class="container">
  <ul class="thumbnails">
      <li class="span6">
      <a href="#" class="">
        <img class="item" id="iphone" src="images/iphone.png" alt="iphone"></a>
        <div class="caption">
        <h3>iPhone 4</h3>
        <table class="span6">
          <tr><td>You get:</td><td class="honey">1100<img class="icon" src="images/honey_icon.png"></td>
        </table>
      </div>  
      </li>
      <li class="span6">
      <a href="#" class="">
         <img class="item" id="imac" src="images/imac.png" alt="imac"></a>
         <div class="caption">
         <h3>Apple iMac 25GB</h3>
         <table class="span6">
         <tr>
          <th>Poor</th><th>Good</th><th>Flawless</th>
         </th>
         <tr>
          <td class="honey"> 800<img class="icon" src="images/honey_icon.png"></td><td class="honey"> 1200<img class="icon" src="images/honey_icon.png"></td><td class="honey"> 1500<img class="icon" src="images/honey_icon.png"></td>
         </tr>
       </table>
      </li>
      <li class="span6">
          <button class="btn-success btn-large"><strong>Sell Now</strong></button>
      </li>
      <li class="span6">
          <button class="btn-primary btn-large"><strong>Buy Now</strong></button>
      </li>
  </ul>
 </div>
 <div id="product_type" class="container">
  <h2 style="margin-left:20px;">Select your category</h2>
  <img id="c_ipod" class="cat_item span4 " alt="ipod" src="images/cat_ipod.png">
  <img id="c_iphone" class="cat_item span4 " alt="iphone" src="images/cat_iphone.png">
  <img id="c_macbook" class="cat_item span4 " alt="macbook" src="images/cat_macbook.png">
 </div>
 <div id="product_search_container" class="container">
  <div id="search_container">
    <form>
      <h3 class="s_category">Model</h3>
      <input type="checkbox">lorem</input>
      <input type="checkbox">ipsum</input>
      <h3 class="s_category">Memory Space </h3>
       <input type="checkbox">dolor</input>
      <input type="checkbox">sit</input>
    </form>
  </div>
  <div id="product lineup">
    <script>
    categories = new Array("ipod", "iphone", "macbook");
    </script>
  </div>
 </div>
			<%= yield %>
		
</body>
</html>
