<!DOCTYPE html>
<html>
<head>
  <title>Swapidy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
  	  <div class="navbar-inner">
  		<div class="container">
   		 <a class="brand" href="#"><img src="images/swapidy_logo.png" height="50px" width="200px"></a>
   		 <ul class="nav pull-right">
      	 <li><%=link_to "Sign Up", new_user_registration_path%></li>
      	 <li class="divider-vertical"></li>
     	 <li><%=link_to "Login", new_user_session_path%></li>
     	 <li class="divider-vertical"></li>
      	 <li><a href="#">Help</a></li>
    	 <form class="navbar-search">
  			<input type="text" class="search-query" placeholder="Search">
		 </form>
		</ul>
 	     </div>
 	  </div>
	</div>
	
		<div class="container">
       <p class="notice">Hello there!<%= notice %></p>
       <p class="alert"><%= alert %></p>

			<%= yield %>
		</div>
</body>
</html>
