<!DOCTYPE html>
<html>
  <head>
    <title>Swapidy</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <script type="text/javascript" src="/javascripts/jquery.pageslide.min.js"></script>
    <%= render :partial => "/layouts/header.html" %>
                
    <div id="s3slider">
      <ul id="s3sliderContent">
        <li class="s3sliderImage">
          <img src="/images/sliders/slide-1.jpg">
          <span></span>
        </li>
        <li class="s3sliderImage">
          <img src="/images/sliders/slide-2.jpg">
          <span></span>
        </li>
        <li class="s3sliderImage">
          <img src="/images/sliders/slide-3.jpg">
          <span></span>
        </li>
        <li class="s3sliderImage">
          <img src="/images/sliders/slide-4.jpg">
          <span></span>
        </li>
        <li class="s3sliderImage">
          <img src="/images/sliders/slide-5.jpg">
          <span></span>
        </li>
        <div class="clear s3sliderImage"></div>
      </ul>
    </div>
    
    <script language="JavaScript">
       $(document).ready(function() { 
         $('#s3slider').s3Slider({
           timeOut: 6000
         });
       });
    </script>

    <div class="content">
      <div class="container">
        <%=yield %>
      </div>
    </div>
 
    <%= render :partial => "/layouts/footer.html" %>
  </body>
</html>
