<!DOCTYPE html>
<html>
  <head>
    <title>Swapidy</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/jquery.pageslide.min.js"></script>
    <%= render :partial => "/layouts/header.html" %>
    
    <div class="content">
      <div class="container">
        <%=yield %>
      </div>
    </div>
    <%= render :partial => "/layouts/footer.html" unless ["devise/registrations", "registrations", "devise/sessions", "sessions"].include?(params[:controller]) && ["new", "create"].include?(params[:action]) %>
  </body>
</html>
