<!DOCTYPE html>
<html>
  <head>
    <title>Swapidy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'jquery', 'jquery.isotope.min', 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render :partial => "/layouts/header.html" %>
    
    <div class="content">
      <div class="container">
        <%=yield %>
      </div>
    </div>
    <%= render :partial => "/layouts/footer.html" unless params[:controller] == "devise/registrations" && ["new", "create"].include?(params[:action]) %>
  </body>
</html>
